@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="col-12 mt-5 mb-4">
            <h2>已收藏案件</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>案件標題</th>
                        <th>預算金額</th>
                        <th>發案人</th>
                        <th>案件狀態</th>
                        @*<th>刊登日期</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.savedCaseItems)
                    {
                        <tr>
                            <td class="text-center">@item.title</td>
                            <td class="text-center">@item.Price</td>
                            <td class="text-center">@item.Contact</td>
                            <td class="text-center">@item.CaseStatus</td>
                            <td class="text-center">@item.UpdateDate</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


    <div class="text-center mb-5">
        <a class="btn btn-primary" asp-controller="Cart" asp-action="ClearCart">Clear</a>
    </div>
</body>
</html>
