@model QuotationDetailViewModel
@{

    ViewBag.Title = "Detail";
    //IEnumerable <QuotationReview> quoreview = new QuotationService().GetQuoReview((int)(ViewBag.QID));

}
<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <!-- 左欄-接案者資訊 -->
            @Html.Partial("_StaffPartial")
            <!-- 右欄-報價細節 -->
            <div class="col-lg-8  blog-content position-relative">
                <section id="primary" class="content-area">
                    <header id="backwork" style="position:sticky;top:0px;z-index:2;background-color:#fff;">
                        <p class=" h-5 border-bottom">
                            <a href="@Url.Action("StudioHome", new { TalentID = @Model.MemberID })" class="py-3 fas fa-angle-double-left mr-2">回到工作室 </a>
                        </p>
                    </header>
                    <div class="container">
                        <div class="row align-items-center mb-5">
                            <div class="col-12 mb-4 mb-lg-0">
                                <div class="d-flex align-items-center">
                                    <div class="col-6 border p-2 d-inline-block mr-3 rounded">
                                        <!-- 報價細節封面 -->
                                        <figure>
                                            <img src="@Model.MainPicture" alt="Image"
                                                 class="img-fluid rounded">
                                        </figure>
                                        <!-- 作品集縮圖 -->
                                        <div class="left-down">
                                            <ul class="d-flex" style="overflow-y: auto;">
                                                @*@if (Model.OtherPicture.Any())
                                                    {
                                                        foreach (var pic in Model.OtherPicture)
                                                        {<li>
                                                            <figure id="otherpicture-@pic.SortNumber" class="mb-5">
                                                                <img src="@Model.MainPicture" alt="Image" class="img-fluid rounded" sizes="(max-width: 710px) 25vw,178px" ;>
                                                            </figure>
                                                        </li>
                                                        }
                                                    }*@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <span class="text-danger">
                                                #<a class="text-danger" href="#">@Model.SubcategoryName</a>
                                            </span>
                                            <span class="m-2">
                                                <span class="icon-clock-o mr-2"></span><span class="">@Model.UpdateDate 更新</span>
                                            </span>
                                        </div>
                                        <div class="mt-3">
                                            <h2>@Model.QuotationTitle</h2>
                                            <p>服務報價：@Model.Price</p>
                                            <p>
                                                服務評分：
                                                @{ if (Model.Evaluation == -1)
                                                    {
                                                        @("無評價")
                                                    }
                                                    else
                                                    {
                                                        @Model.Evaluation
                                                    }
                                                }
                                            </p>
                                            <p>執行時間：@Model.ExecuteDate 天</p>
                                            <p>服務地點：@Model.Location</p>
                                            <button class="btn bg-danger  text-white  modelBtn"><i class="fas fa-plus mr-2"></i>興趣清單</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row servicebtn d-flex mb-5">
                        <div class="col-6 text-center">
                            <buttton id="showservice" class="btn btn-light d-block">服務內容</buttton>
                        </div>
                        <div class="col-6 text-center">
                            <buttton id="showcomment" class="btn btn-light d-block">服務評價</buttton>
                        </div>
                    </div>
                    <main id="main" class="site-main" role="main">
                        <div class="service-content">
                            <!-- 服務內容 -->
                            <div class="mb-5">
                                <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                                    <span class="icon-align-left mr-3"></span>服務內容
                                </h3>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <!-- 其他服務 -->
                            <div class="mb-5">
                                <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                                    <span class="icon-rocket mr-3"></span>其他服務
                                </h3>
                                <div class="col-12">
                                    <div class="work d-flex" style="overflow-y: auto;">
                                        <ul class="d-flex">
                                            @*@foreach (var item in Model)*@
                                            <li>
                                                <div class="card m-2">
                                                    <img src="https://demo.colorlib.com/activello/wp-content/uploads/sites/57/2015/11/photo-1438109491414-7198515b166b-150x150.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h6 class="card-title">
                                                            @Model.QuotationTitle
                                                        </h6>
                                                        <span class="date">@Model.Price</span> / @Model.Unit
                                                        <p class="card-text">歡迎訂購</p>
                                                        <a href="@Url.Action("StudioHome", "Quotation")" class="btn btn-danger">服務詳情</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 服務說明 -->
                            <div class="mb-5">
                                <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                                    <span class="icon-book mr-3"></span>服務說明
                                </h3>
                                <div class="col-lg-6 col-md-12 recent-posts-wrapper d-flex flex-column">
                                    @if (Model.OtherPicture.Any())
                                    {
                                        foreach (var pic in Model.OtherPicture)
                                        {
                                            <figure id="otherpicture-@pic.SortNumber" class="mb-5">
                                                <img src="@Model.MainPicture" alt="Image" class="img-fluid rounded" sizes="(max-width: 710px) 25vw,178px" ;>
                                            </figure>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- 顯示評價 (如果評價太多要有分頁)-->
                        @*<div class="comment-content" style="display:none;">
                            <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                                <span class="icon-turned_in mr-3"></span>服務評價 @Model.QuotationReview.Count() 則
                            </h3>
                            <div class="col-lg-8 mb-5">
                                <div class="pt-3">
                                    @if (@Model.QuotationReview.Count() == 0)
                                    {
                                        <p>暫無評價</p>
                                    }
                                    else
                                    {
                                        <ul class="comment-list">
                                            <li class="comment">
                                                <div class="vcard bio">
                                                    <img src="Order-DealedTalentMemberID-ProfilePicture" alt="Image placeholder">
                                                </div>
                                                <div class="comment-body">
                                                    <h3>ReviewName</h3>
                                                    <div class="meta">SubmitDate</div>
                                                    <p>
                                                        CaseMessage
                                                    </p>
                                                </div>
                                                /
                                            </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>*@
                    </main>
                </section>
            </div>
        </div>
    </div>
</section>


<div class="row sidenav" id="Sidenav">
    <div class=" col-12 d-flex align-content-center">
        <button class="closefilter">X</button>
    </div>

    <div class="col-lg-6 col-12">
        <div class="productdetail">
            <h3>@Model.QuotationTitle</h3>
            <span class="price">@Model.Price</span><span>/ @Model.Unit</span>
            <p><a href="" class="studioName">@Model.NickName</a></p>
            <p>執行時間：<span>@Model.ExecuteDate 天</span></p>
            <div class="detailInf">
                <p>
                    服務內容：
                    <br>
                    <span>
                        @Model.Description
                    </span>
                </p>
            </div>
            <button class="more">查看更多</button>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div class="confirmProduct">
            <div class="row justify-content-center">
                <form class="col-12" id="form">
                    <p class="h3">確認數量</p>
                    <div>
                        <button class="minuscount"><i class="fas fa-minus"></i></button>
                        <span class="count"></span>
                        <button class="pluscount"><i class="fas fa-plus"></i></button>
                    </div>
                    <h5 class="text-start text-dark pb-2 border-bottom">
                        輸入訂購人資訊
                    </h5>
                    <div class="form-group text-start text-dark mb-2">
                        <label class="" for="username ">收件人姓名</label>
                        <input type="text" class="form-control" name="name" id="username"
                               placeholder="輸入姓名" /> <span class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="form-group text-start text-dark mb-2">
                        <label class="" for="useremail">Email</label>
                        <input type="email" class="form-control" name="email" id="useremail"
                               placeholder="請輸入 Email" /> <span class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="form-group text-start text-dark mb-2">
                        <label class="" for="usertel">收件人電話</label>
                        <input type="tel" class="form-control" id="usertel"
                               placeholder="請輸入電話" /> <span class="text-danger telspan font-weight-bold"></span>
                    </div>
                    <div class="form-group text-start text-dark mb-2">
                        <label class=""
                               for="useraddress">收件人LineID</label>
                        <input type="text" class="form-control" name="line"
                               id="userline" placeholder="請輸入LineID" />
                    </div>
                    <div>
                        <label class="text-black"
                               for="useraddress">可聯繫時段</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="morningtime" value="0">
                        <label class="form-check-label" for="morningtime">上午 7-12</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="aternoontime" value="1">
                        <label class="form-check-label" for="aternoontime">下午 12-18</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="eveningtime" value="2">
                        <label class="form-check-label" for="eveningtime">晚上 18-22</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="unlimitedtime" value="3">
                        <label class="form-check-label" for="unlimitedtime">不限時段</label>
                    </div>
                    <div class="form-group text-start text-dark">
                        <label for="memo">留言</label> <textarea name="" id="memo" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="mt-3 text-right">
                        <button class="addProduct"> 加入購物車</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
@section topCSS
    {
    <style>

        .Quotation > a:first-child {
            color: #89ba16 !important;
            background-color: white
        }

        .btn {
            border: none !important;
        }

        .author-social a {
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            background: #89ba16;
            border-radius: 50%;
            text-decoration: none !important;
        }

            .author-social a > span {
                position: absolute;
                left: 50%;
                top: 50%;
                color: white;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .author-social a:hover {
                background: white;
            }

                .author-social a:hover span {
                    color: #89ba16;
                }

        .left-down ul {
            padding: 0;
            list-style: none;
        }

        .fixedHeader #backwork {
            position: fixed;
            top: 0;
            left: 0;
        }

        .servicebtn div:hover {
            border-top: 2px solid #89ba16;
        }

            .servicebtn div:hover .btn:hover, .servicebtn div:hover .btn:focus {
                background: none;
            }

        .work ul {
            padding: 0;
            list-style: none;
        }

        .site-footer .scroll-top {
            position: absolute;
            z-index: 5;
            top: -30%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #89ba16;
            left: 95%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
        }


        /*---------CartModel---------------*/
        .sidenav {
            height: 0;
            width: 100%;
            position: fixed;
            z-index: 10000;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: .5s;
            overflow: auto;
            background-color: white;
        }

            .sidenav::-webkit-scrollbar {
                background-color: transparent;
            }


        .closefilter {
            background-color: transparent;
            justify-content: left;
            border: none;
            font-size: 25px;
            font-weight: bolder;
        }

        .productdetail {
            padding: 0 20% 0 20%;
            font-family: 'Noto Sans TC', sans-serif;
            line-height: 2;
        }

        .price {
            color: rgb(153, 56, 56);
            font-size: 25px;
        }

        .studioName {
            font-size: 20px;
            color: black;
            text-decoration: underline;
        }

        .detailInf {
            width: 450px;
            font-size: 15px;
            height: 65px;
            overflow: hidden;
            transition: .5s;
            border-top: 2px solid #efefef;
            padding-top: 10px;
        }

        .more {
            background-color: transparent;
            border: none;
            text-decoration: underline;
            text-align: left;
            font-size: 15px;
            color: rgb(90, 72, 72);
            margin-left: -5px;
        }

        .confirmProduct {
            padding: 0 20% 0 20%;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 23px;
        }

        .minuscount,
        .pluscount {
            background-color: transparent;
            /*            width: 30px;
            height: 30px;*/
            border-radius: 50%;
            border: none;
            font-size: 20px;
            text-align: center;
        }

            .minuscount:hover,
            .pluscount:hover {
                transform: scale(1.2);
            }

        .count {
            margin: 10px;
            font-size: 20px;
        }

        .addProduct {
            display: block;
            width: 100%;
            /* margin-top: 180px; */
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            padding: 8px;
        }

        form {
            font-size: 15px;
        }

        .closefilter:focus,
        .more:focus {
            outline: none;
        }

        .minuscount:focus,
        .pluscount:focus {
            outline: none;
            background: radial-gradient(circle at center,white,rgba(0,0,0,.05));
        }

        .site-navbar {
            position: static !important;
        }
        .addProduct:disabled {
            background: #808080;
        }
    </style>
}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="~/Assets/js/QuotationDetail.js"></script>
    
    <script>

        let addProduct = document.querySelector('.addProduct');

        let side = document.getElementById('Sidenav');
        let detailInf = document.querySelector('.detailInf');
        let more = document.querySelector('.more');
        let ismore = true;
        let countNumber = document.querySelector('.count');

        function telValidation() {
            let telReg = /^09[0-9]{8}$/;
            let telInput = document.getElementById("usertel").value;
            let telSpan = document.querySelector('.telspan');

            if (telInput == '') {
                telSpan.innerText = '電話欄位不得留空';
                return;
            }
            if (!telReg.test(telInput)) {
                telSpan.innerText = '電話欄位格式錯誤'
                return false;
                
            } else {
                telSpan.innerText = ''
                return true;
            }
        }

        function nameValidation() {
            let telReg = ;
            let telInput = document.getElementById("usertel").value;
            let telSpan = document.querySelector('.telspan');

            if (telInput == '') {
                telSpan.innerText = '電話欄位不得留空';
                return;
            }
            if (!telReg.test(telInput)) {
                telSpan.innerText = '電話欄位格式錯誤'
                return false;

            } else {
                telSpan.innerText = ''
                return true;
            }
        }

        function telValidation() {
            let telReg = /^09[0-9]{8}$/;
            let telInput = document.getElementById("usertel").value;
            let telSpan = document.querySelector('.telspan');

            if (telInput == '') {
                telSpan.innerText = '電話欄位不得留空';
                return;
            }
            if (!telReg.test(telInput)) {
                telSpan.innerText = '電話欄位格式錯誤'
                return false;

            } else {
                telSpan.innerText = ''
                return true;
            }
        }
        

        addProduct.addEventListener('click', function (e) {

            b_tel();
            console.log(b_tel());
            @*e.preventDefault()
            let count = document.querySelector('.count').innerText;
            let useremail = document.querySelector('#useremail').value;
            let username = document.querySelector('#username').value;
            let usertel = document.querySelector('#usertel').value;
            let userline = document.querySelector('#userline').value;
            let memo = document.querySelector('#memo').value;


            let OrderInfo = {
                Email: useremail, Name: username, Tel: usertel, LineID: userline, Memo: memo,
                MemberID:@ViewBag.memberID , QuotationImg: "@Model.MainPicture", SubCategory: "@Model.QuotationTitle", StudioName: "@Model.NickName", Count: Number(count),
                Price:@Model.Price , Unit: "@Model.Unit" ,ProposerID:@Model.MemberID }


            axios.post('/api/Cart/AddCart?memberID=@ViewBag.memberID', OrderInfo)
                .then(res => {
                    side.style.height = "0px"
                    if (res.data.Result == true) {

                        axios.get(`/api/Cart/GetCart?id=@ViewBag.memberID`).then(res => {
                            let counts = res.data.Result.length
                            CartCount.innerHTML = counts
                        })

                        Swal.fire(
                            '已加入清單',
                            '點擊按鈕關閉',
                            'success'
                        )


                    }
                    else
                    {

                        Swal.fire({
                            icon: 'error',
                            title: '系統發生錯誤!',
                            text: '請喝杯咖啡再點選一次~ :)',
                        })
                    }
                })*@
            })

        document.querySelector('.modelBtn').addEventListener('click', function () {
            let height = 100
            side.style.height = `${height}%`;


        });
        document.querySelector('.closefilter').addEventListener('click', function () {
            side.style.height = "0px";
        })


        document.querySelector('.more').addEventListener('click', function () {
            ismore = !ismore;
            if (ismore) {
                more.innerText = '查看更多'
                detailInf.style.height = "65px";
            }
            else {
                more.innerText = '收合內容'
                detailInf.style.height = "auto";
            }
        })



            let count = 1
            document.querySelector('.minuscount').addEventListener('click', function (e) {
                e.preventDefault();
                if (count != 1) {
                    count--
                    countNumber.innerText = count;
                    console.log(count)
                }
            })
            document.querySelector('.pluscount').addEventListener('click', function (e) {
                e.preventDefault();
                count++
                countNumber.innerText = count;
                console.log(count)
            })

        countNumber.innerText = count;

    </script>
}
