@model List<QuotationViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="row d-flex justify-content-center mt-5">
    <form class="searchInput">
        <div>
            <input id="serchContain" class="serchinput" placeholder="例：產品攝影" type="text">
            <button type="button" class="serchtbtn"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row  p-0">
            <div class="col-12">
                <div class="category-area">
                    <div class="row  justify-content-around">
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=0"><i class="fas fa-pencil-ruler"></i></a>
                                <p>平面設計</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=1"><i class="far fa-window-restore"></i></a>
                                <p>網頁設計</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=2"><i class="fas fa-code"></i></a>
                                <p>程式開發</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=3"><i class="far fa-file-alt"></i></a>
                                <p>翻譯寫作</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=4"><i class="fas fa-camera-retro"></i></a>
                                <p>商社娛樂</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=5"><i class="fas fa-photo-video"></i></a>
                                <p>影像製作</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=6"><i class="fas fa-ruler-combined"></i></a>
                                <p>空間設計</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=7"><i class="far fa-heart"></i></a>
                                <p>生活服務</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=8"><i class="far fa-newspaper"></i></a>
                                <p>活動企劃</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=9"><i class="fas fa-pencil-ruler"></i></a>
                                <p>專業顧問</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                        <div>
                            <div class="category-btn">
                                <a class="mb-1" href="/Quotation/Index?CategoryId=10"><i class="fas fa-cogs"></i></a>
                                <p>資訊工程</p>
                                <p>(373)筆</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row pagination-wrap">
            <div class="col-md-12 categoriedpage">
                <h1>平面設計-服務報價</h1>
                <div class="mb-3 pagediv d-flex">

                </div>
                <button type="button" class="hamfliterbtn"><i class="fas fa-filter"></i> 篩選</button>
                <div class="filtermodal">
                    <div id="Sidenav" class="sidenav">
                        <button class="closefilter">X</button>
                        <div class="rwdFilterMenu mr-3 tabs-pages">
                            <div class="tab active">類別</div>
                            <div class="tab">地點</div>
                            <div class="tab">價錢</div>
                        </div>
                        <div class="tabs-contents">
                            <div class="tab-c active">
                                <div class="list-unstyled block__47528 rwdcategory">
                                    @foreach (var item in ViewBag.cateNameList)
                                    {
                                        <label><input type="checkbox" class="subcateinput" value="@item.SubCategoryName" data-subId="@item.SubCategoryID"> <span>@item.SubCategoryName</span></label>
                                    }
                                </div>
                            </div>
                            <div class="tab-c">
                                <div class="list-unstyled block__47528 rwdlocation">
                                    @foreach (var item in ViewBag.LocationList)
                                    {
                                        <label><input type="checkbox" class="locationinput" value="@item.LocationName" data-locatId="@(item.LocationID+1000)"> <span>@item.LocationName </span></label>
                                    }
                                </div>
                            </div>
                            <div class="tab-c">
                                <div class="list-unstyled block__47528 rwdprice">
                                    <span class="textprice">
                                        <i>$</i>
                                        <input type="text" placeholder="最小金額" value="" class="RwdMinPrice" oninput="value=value.replace(/[^\d]/g,'')">
                                    </span>
                                    <div class="text-center h3 mt-2">∣</div>
                                    <span class="textprice">
                                        <i>$</i>
                                        <input type="text" placeholder="最大金額" value="" class="RwdMaxPrice" oninput="value=value.replace(/[^\d]/g,'')">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="filterbtn">
                            <button class="clearbtn">清除</button>
                            <button class="confirmbtn">確認</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-3 col-md-3 hamburgerfilter">
                <div class="selectList mb-2 subcatefilter">
                    <div class="CategoryName">
                        <p>服務類別</p>
                    </div>
                    <div class="border p-4 rounded serviceCategory">
                        <div class="list-unstyled block__47528">
                            @foreach (var item in ViewBag.cateNameList)
                            {
                                <label><input type="checkbox" class="subcateinput" value="@item.SubCategoryName" data-subId="@item.SubCategoryID"> <span>@item.SubCategoryName</span></label>
                            }
                        </div>
                    </div>
                </div>
                <div class="selectList mb-2">
                    <div class="CategoryName">
                        <p>服務地點</p>
                    </div>
                    <div class="border p-4 rounded serviceCategory">
                        <div class="list-unstyled block__47528">
                            @foreach (var item in ViewBag.LocationList)
                            {
                                <label><input type="checkbox" class="locationinput" value="@item.LocationName" data-locatId="@(item.LocationID+1000)"> <span>@item.LocationName </span></label>
                            }
                        </div>
                    </div>
                </div>
                <div class="selectList mb-2">
                    <div class="CategoryName">
                        <p>服務價格</p>
                    </div>
                    <div class="border p-4 rounded">
                        <div class="list-unstyled block__47528 pricefilter">
                            <span class="textprice">
                                <i>$</i>
                                <input type="text" placeholder="最小金額" value="" class="minPrice" oninput="value=value.replace(/[^\d]/g,'')">
                            </span>
                            <div class="text-center h3 mt-2">∣</div>
                            <span class="textprice">
                                <i>$</i>
                                <input type="text" placeholder="最大金額" value="" class="maxPrice" oninput="value=value.replace(/[^\d]/g,'')">
                            </span>
                            <button class="priceconfirm confirmbtn">確認</button>
                            <button class="clearfilter clearbtn">清除</button>
                        </div>
                    </div>
                </div>
            </div>

            @*tab filter*@
        <div class="col-lg-9 col-md-12 ">
            <div class="most__search__tab mb-3">
                <ul class="nav nav-tabs text-right" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active priceSortBtn" data-toggle="tab" href="#tabs-1" role="tab">
                            價格
                            <span class="priceTop">↑</span>
                            <span class="priceLow">↓</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link orderNumberBtn" data-toggle="tab" href="#tabs-2" role="tab">
                            訂購數
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link evaluationNumberBtn" data-toggle="tab" href="#tabs-3" role="tab">
                            評價
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newBtn" data-toggle="tab" href="#tabs-3" role="tab">
                            最新
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row item_zone mb-5">
                @if (ViewBag.pageData != null)
                {
                    foreach (var item in ViewBag.pageData)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="listing__item">
                                <div class="listing__item__pic">
                                    <a href="@Url.Action("Detail", "Quotation")" target="_blank"><img src="@item.Img" alt="Image" class="img-fluid rounded"></a>
                                </div>
                                <div class="listing__item__text">
                                    <div class="listing__item__text__inside">
                                        <h5>@item.SubcategoryName</h5>
                                        <span class="price">@item.Price</span><span>/ 件</span>
                                        <div class="listing__item__text__rating">
                                            <div class="listing__item__rating__star mr-2">
                                                <span class="icon_star"></span>
                                                <span class="icon_star"></span>
                                                <span class="icon_star"></span>
                                                <span class="icon_star"></span>
                                                <span class="icon_star-half_alt"></span>
                                            </div>
                                            <span></span><span>人訂購</span>
                                        </div>
                                        <div class="mb-2">
                                            <a class="studioName" href="@Url.Action("Detail", "Quotation")" target="_blank">@item.StudioName</a> <br>
                                            <span class="pic_tag">CategoryId： @item.CategoryId</span>
                                            <span class="pic_tag">SubcategoryId： @item.SubcategoryId</span>
                                            <span class="pic_tag">Location： @item.Location</span>
                                            <span class="pic_tag">QuotationId： @item.QuotationId</span>
                                        </div>
                                    </div>
                                    <div class="listing__item__text__info">
                                        <a class="listing__item__text__info__right" href="@Url.Action("Detail", "Quotation")" target="_blank">服務詳情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }


                <template id="templateCard">
                    <div class="col-lg-3 col-md-6">
                        <div class="listing__item">
                            <div class="listing__item__pic">
                                <a href="" target="_blank"><img src="" alt="Image" class="img-fluid rounded"></a>
                            </div>
                            <div class="listing__item__text">
                                <div class="listing__item__text__inside">
                                    <h5></h5>
                                    <span class="price"></span><span>/ 件</span>
                                    <div class="listing__item__text__rating">
                                        <div class="listing__item__rating__star mr-2">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star-half_alt"></span>
                                        </div>
                                        <span></span><span>人訂購</span>
                                    </div>
                                    <div class="mb-2">
                                        <a class="studioName" href="" target="_blank"></a> <br>
                                        <span class="pic_tag test1"></span>
                                        <span class="pic_tag test2"></span>
                                        <span class="pic_tag test3"></span>
                                        <span class="pic_tag test4"></span>
                                    </div>
                                </div>
                                <div class="listing__item__text__info">
                                    <a class="listing__item__text__info__right" href="@Url.Action("Detail", "Quotation")" target="_blank">服務詳情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>

            </div>

            
            <div class="row pagination-wrap mt-3">
            <div class="col-md-12 pagediv d-flex justify-content-end">
                <div class="custom-pagination ml-auto">

                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>

@section topCSS{
<style>
    html.fixWindow {
        position: fixed;
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .section-hero.inner-page {
        padding-bottom: 20px;
    }

    .section-hero.overlay:before,
    .section-hero.overlay-2:before {
        background: none;
    }

    .category-btn {
        margin: 15px 10px;
    }

    .category-area .category-btn a {
        display: block;
        text-align: center;
    }

    .category-area .category-btn .fas,
    .category-area .category-btn .far {
        font-size: 45px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, .4)
    }

    .category-area span {
        font-size: 17px;
        font-weight: 800;
        color: rgba(0, 0, 0, .7)
    }

    .category-area .category-btn p {
        margin: 0;
        color: black;
        font-weight: 600;
        text-align: center;
        line-height: 1.3;
        font-size: 14px;
        color: rgba(0, 0, 0, .4)
    }

    .category-btn:hover .fas,
    .category-btn:hover .far,
    .category-btn:hover p {
        color: #89ba16;
        cursor: pointer;
    }

    .site-section {
        padding-top: 3rem;
    }

    .item_zone .col-lg-3 {
        padding: 0 10px !important;
    }

    .categoriedpage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .categoriedpage h1 {
        margin-right: auto;
        font-size: 25px;
        font-weight: bolder;
    }

    .categoriedpage h1::before {
        content: "";
        border: 2px solid #89ba16;
        margin-right: 5px;
    }

    .most__search__tab ul {
        display: flex;
        justify-content: flex-end;
    }

    .block__47528 {
        display: flex;
        flex-direction: column;
    }

    .block__47528 li {
        font-size: 16px;
        line-height: 2;
        overflow: hidden;
    }

    .block__47528 label {
        color: rgb(143, 134, 134);
        user-select: none;
    }

    .block__47528 label:hover,
    .block__47528 input:hover {
        cursor: pointer;
    }

    .block__47528 input:checked + span {
        color: #e1264a;
        font-weight: bolder;
    }

    .block__47528 input:checked + span::before {
        content: "✓ ";
        font-size: 16px;
        font-weight: bolder;
        width: 15px;
        height: 15px;
    }

    .block__47528 input[type=checkbox]:checked {
        display: none;
    }

    .selectList {
        width: 230px;
    }

    .serviceCategory {
        height: 350px;
        overflow: hidden;
        overflow: scroll;
        overflow-x: hidden;
    }

    .CategoryName {
        display: flex;
        height: 50px;
        background-color: #e5e5e5;
    }

    .CategoryName p {
        margin: auto 0 auto 10px;
        font-size: 18px;
        font-weight: bolder;
        color: black;
    }

    .serviceCategory::-webkit-scrollbar,
    .tabs-contents::-webkit-scrollbar {
        width: 8px;
        height: 5px;
        background-color: #ffffff;
    }

    .serviceCategory::-webkit-scrollbar-thumb,
    .tabs-contents::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #a7a3a3;
    }

    /* Listing */
    .listing .listing__list .listing__item {
        max-width: calc(50% - 30px);
        float: left;
        margin-right: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 100%;
        height: 100%;
    }

    .listing__item {
        -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }

    .listing__item:hover img,
    .listing__item:hover {
        transform: scale(1.03);
    }


    .listing__item__pic {
        overflow: hidden;
    }


    .listing__item__pic img {
        width: 100%;
        transition: .3s;
    }

    .listing__item__pic__tag {
        font-size: 12px;
        color: #ffffff;
        background: #f03250;
        font-weight: 600;
        display: inline-block;
        padding: 5px 15px 5px 10px;
        border-radius: 2px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .pic_tag {
        font-size: 15px;
        background-color: #e1264a;
        font-weight: bolder;
        padding: 2px 5px;
        color: white;
        border-radius: 6px;
        margin-left: 10px;
    }

    .listing__item__pic__tag.top_rate {
        background: #00a7ea;
    }

    .listing__item__pic__tag.hot_deal {
        background: #D9D137;
    }

    .listing__item__pic__btns {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .listing__item__text {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 10px;
    }

    .listing__item__text__inside h5 {
        font-size: 16px;
        color: #323232;
        font-weight: 600;
        margin-bottom: 6px;
    }

    .studioName:hover {
        color: #e1264a !important;
        cursor: pointer;
        text-decoration: none;
    }

    .listing__item__text__inside ul {
        margin-bottom: 20px;
    }

    .listing__item__text__inside .price {
        color: #e1264a;
        font-size: 20px;
        font-weight: 900;
    }

    .listing__item__text__inside ul li {
        font-size: 15px;
        color: #323232;
        list-style: none;
        line-height: 25px;
        position: relative;
        padding-left: 25px;
    }

    .listing__item__text__inside ul li span {
        color: #A8A8A8;
        position: absolute;
        left: 0;
        top: 5px;
    }

    .listing__item__text__rating {
        overflow: hidden;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .listing__item__text__rating .listing__item__rating__star {
        float: left;
    }

    .listing__item__text__rating .listing__item__rating__star span {
        font-size: 14px;
        color: #F09D17;
        margin-right: -3px;
    }

    .listing__item__text__rating .listing__item__rating__star span:last-child {
        margin-right: 0;
    }

    .listing__item__text__rating h6 {
        font-size: 15px;
        color: #f03250;
        font-weight: 600;
        float: right;
    }

    .listing__item__text__info {
        padding: 10px 8px;
        border-top: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
    }

    .listing__item__text__info__left {
        float: left;
    }

    .listing__item__text__info__left img {
        display: inline-block;
        margin-right: 10px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .listing__item__text__info__left span {
        font-size: 14px;
        color: #323232;
        font-weight: 600;
    }

    .listing__item__text__info__right {
        float: right;
        font-size: 14px;
        color: #ffffffec;
        font-weight: 700;
        padding-top: 4px;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        background-color: #89ba16;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
    }

    .listing__item__text__info__right.closed {
        color: #f03250;
    }

    .listing__item__text__info__right:focus {
        outline: none;
    }

    .listing__item__text__info__right:hover {
        opacity: .8;
        text-decoration: none;
        color: white;
    }

    /* Listing */
    .listing__map {
        height: 100%;
        width: 45%;
        margin-top: 105px;
        float: left;
    }

    .listing__map iframe {
        width: 100%;
        height: 100%;
    }

    .pricefilter input {
        border: none;
        width: 150px;
    }

    .pricefilter input:focus,
    .rwdprice input:focus {
        outline: none;
    }

    .textprice {
        border: 1px solid rgb(124, 121, 121);
        border-radius: 5px;
        height: 30px;
        display: flex;
    }

    .priceconfirm,
    .clearfilter{
        margin-top: 20px;
        height: 40px;
        border-radius: 5px;
        color: rgb(8, 8, 8);
        background-color: Transparent;
        background-repeat: no-repeat;
        border: 1px solid black;
        font-weight: bolder;
    }

    .priceconfirm:hover,
    .clearfilter:hover{
        border-color: #f03250;
        color: #f03250;
    }

    .priceconfirm:focus,
    .clearfilter:focus {
        outline: none;
        color: #f03250;
        border-radius: 5px;
        border: 2px solid #f03250;
    }

    .most__search__tab span {
        font-size: 15px;
        display: inline-block;
    }

    .searchInput {
        height: 52px;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
        border: 2px solid rgb(177, 171, 171);
        border-radius: 5px;
    }

    .searchInput input {
        border: none;
        height: 50px;
        width: 250px;
    }

    .searchInput input:focus {
        outline: none;
    }

    .searchInput button {
        width: 52px;
        height: 51px;
        background-color: #89ba16;
        margin-left: -4px;
        border: none;
        border-radius: 0 5px 5px 0;
    }

    .searchInput button:focus {
        outline: none;
    }

    .hamfliterbtn {
        display: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: 1px solid #6c757d;
        width: 90px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .hamfliterbtn:focus {
        outline: none;
        border: 3px solid #89ba16;
        border-radius: 5px;
        color: #89ba16;
        font-weight: bolder;
    }

    @@media screen and (max-width:992px) {

        .hamburgerfilter,
        .pagetop {
            display: none;
        }

        .hamfliterbtn {
            display: block;
        }
    }

    .sidenav {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 15%;
        right: 0;
        background-color: #faf9f8;
        overflow-x: hidden;
        padding-top: 40px;
    }

    .closefilter {
        position: absolute;
        left: 3%;
        top: 0;
        background-color: transparent;
        border: none;
        font-size: 25px;
        font-weight: bolder;
    }

    .filterbtn {
        margin: 5px auto;
    }

    .filterbtn button:first-child {
        background-color: rgb(64 64 64);
        margin-right: 10px;
    }

    .filterbtn button {
        width: 120px;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: #f03250;
        background-repeat: no-repeat;
        border: 1px solid black;
        font-weight: bolder;
    }

    .closefilter:focus {
        outline: none;
    }

    .closefilter:hover {
        background-color: white;
    }

    .filtermodal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .rwdprice input {
        width: 100px;
        border: none;
    }

    .rwdprice .textprice {
        width: 150px;
    }

    .tabs-pages {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tabs-pages:focus,
    .tabs-pages:hover {
        cursor: pointer;
    }

    .tab {
        padding: 0.5em 1.2em;
        color: rgb(59, 59, 59);
        background-color: #fbfdfd;
        margin: 10px 0;
        font-weight: bolder;
    }

    .tab:hover {
        background-color: #fdf7f8;
    }

    .tab.active {
        border-left: 4px solid #f03250;
    }

    .tabs-contents {
        display: block;
        width: 170px;
        height: 400px;
        position: relative;
        overflow: hidden;
        overflow: scroll;
        overflow-x: hidden;
    }

    .tab-c {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        height: auto;
        color: black;
        transition: opacity .3s;
    }

    .tab-c.active {
        display: block;
    }
    .pagediv li {
        list-style: none;
    }
    .page-link {
        line-height: 20px!important; 
        padding-bottom :10px !important;
    }

    .page-link {
        /*width: 30px;*/
        height: 35px;
        line-height: 30px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #dee2e6;
        text-align: center;
        margin: 0 5px;
        text-decoration: none;
    }

    .pagediv a.prev, .pagediv a.next {
        /*width: auto;*/
        height: 35px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
    }

    .pagediv a.active, .page-link:hover {
        background: #89ba16;
        color: #fff;
        border-color: #89ba16;
    }

    .changecolor {
        color: #89ba16;
        font-weight:bolder;
        font-size:18px !important;
    }
</style>
}

@section endJS{

    <script>
        let filtermodal = document.querySelector('.filtermodal');
        let html = document.querySelector('html');
        let side = document.getElementById('Sidenav');
        let AllCardArray = @Html.Raw(Json.Encode(ViewBag.pageData));
        let serchContain = document.querySelector('#serchContain').value;
        let card = document.querySelector('#templateCard');
        let subcatefilter = document.querySelector('.subcatefilter');

        let filterCard = AllCardArray;//copy
        let itemZone = document.querySelector('.item_zone');
        let subcateinput = document.querySelectorAll('.subcateinput');
        let locationinput = document.querySelectorAll('.locationinput');
        let serchValue = document.querySelector('.serchinput');
        let priceconfirmbtn = document.querySelectorAll('.confirmbtn');
        let clearbtn = document.querySelectorAll('.clearbtn');
        let priceArr = [];
        let subcateArr = [];
        let locationArr = [];

        let subcatIdArr = [];
        let locatIdArr = [];
        let IdArr = [];

        let minPrice = document.querySelector('.minPrice');
        let maxPrice = document.querySelector('.maxPrice');
        let RwdMinPrice = document.querySelector('.RwdMinPrice');
        let RwdMaxPrice = document.querySelector('.RwdMaxPrice');


        window.onload = function () {
            var url = decodeURI(location.href);


            if (url.indexOf('keyword') > -1) {
                subcatefilter.style.display = 'none';
            }
            console.log(AllCardArray)
            AddCategoryFilter();
            AddLocationFilter();

            pagination(AllCardArray, 1);

            if (AllCardArray.length == 0) {
                let div = document.createElement('div');
                div.classList.add('text-primary', 'mx-auto', 'h5');
                div.innerText = '抱歉，沒有符合的搜尋結果';
                itemZone.append(div);
            }
        }

        //RWD filter function
        function CloseRwdFilter() {
                side.style.width = "0px";
                filtermodal.style.display = 'none';
                html.classList.remove('fixWindow');
            };

        document.querySelector('.closefilter').addEventListener('click', function () {
            CloseRwdFilter();
        });

        document.querySelector('.hamfliterbtn').addEventListener('click', function () {
            side.style.width = "300px";
            side.style.transition = "5"

            filtermodal.style.display = 'block';
            html.classList.add('fixWindow');
        });

        $(".tab").each(function (index) {
            $(this).click(function (e) {
                triggletab();
                triigletabcontent();
                $(this).toggleClass("active");
                $(".tab-c")
                    .eq(index)
                    .toggleClass("active");
            });
        });
        //to remove all tab headers
        function triggletab() {
            $(".tab").each(function () {
                $(this).removeClass("active");
            });
        }

        //triggle the tab content
        function triigletabcontent() {
            $(".tab-c").each(function () {
                $(this).removeClass("active");
            });
        }


        function addcard(arr) {
            itemZone.innerText = '';
            arr.forEach(function (item, index) {
                let cloneContent = card.content.cloneNode(true);
                cloneContent.querySelector('h5').innerText = item.SubcategoryName;
                cloneContent.querySelector('img').src = item.Img;
                cloneContent.querySelector('.studioName').innerText = item.StudioName;
                cloneContent.querySelector('.price').innerText = item.Price;
                cloneContent.querySelector('.test1').innerText = `cate${item.CategoryId}`;
                cloneContent.querySelector('.test2').innerText = `sub${item.SubcategoryId}`;
                cloneContent.querySelector('.test3').innerText = `location${item.Location}`;
                cloneContent.querySelector('.test4').innerText = `QuotationId${item.QuotationId}`;
                itemZone.append(cloneContent);
            });
        }

        //Subcategory filter
        function AddCategoryFilter() {
            subcateinput.forEach(function (item, index) {
                item.addEventListener('change', function (e) {
                    subcateArr = []
                    subcatIdArr = []
                    subcateinput.forEach(x => {
                        if (x.checked) {
                            subcateArr.push(x.value)
                            subcatIdArr.push(x.getAttribute('data-subId'))
                        }

                    })
                    filterByAll(priceArr, subcateArr, locationArr)
                })
            })
        }
       
        //Location filter
        function AddLocationFilter() {
            locationinput.forEach(function (item, index) {
                item.addEventListener('change', function () {
                    locationArr = []
                    locatIdArr=[]
                    locationinput.forEach(x => {
                        if (x.checked) {
                            locationArr.push(x.value)
                            locatIdArr.push(x.getAttribute('data-locatId'))
                        }
                    })
                    filterByAll(priceArr, subcateArr, locationArr)
                })
            })
        }

        //all conditions filter
        function filterByAll(price, subcategory, loction) {
            if (price.length == 0) { price = AllCardArray }
            let OptionOne = [];
            let OptionTwo = [];
            if (subcategory.length == 0) {
                OptionOne = price
            }
            else {
                for (let i = 0; i < subcategory.length; i++) {
                    OptionOne = OptionOne.concat(price.filter(item => item.SubcategoryName == subcategory[i]));
                }
            }


            if (loction.length == 0) {
                OptionTwo = OptionOne
            }
            else {
                for (let i = 0; i < loction.length; i++) {
                    OptionTwo = OptionTwo.concat(OptionOne.filter(item => item.Location == loction[i]));
                    }

            }

            filterCard = OptionTwo;            IdArr = locatIdArr.concat(subcatIdArr);            console.log(IdArr);            if (IdArr.length == 0) {                window.history.replaceState({}, 0, "Index?");
            }            else {                window.history.replaceState({}, 0, "Index?filter=" + `${IdArr}`);
            }                        pagination(filterCard, 1)

        }

       //search btn
        document.querySelector('.serchtbtn').addEventListener('click', function () {
            location.href = "Index?keyword=" + `${serchValue.value}`;
        });


        //Price filter
        priceconfirmbtn.forEach(function (item, index) {
            item.addEventListener('click', function () {

                if (minPrice.value != "") {
                    priceArr = filterCard.filter(x => Number(x.Price) >= Number(minPrice.value) && Number(x.Price) <= Number(maxPrice.value))
                    filterCard = priceArr;
                }
                else if (RwdMinPrice.value != "") {
                    priceArr = filterCard.filter(x => Number(x.Price) >= Number(RwdMinPrice.value) && Number(x.Price) <= Number(RwdMaxPrice.value))
                    filterCard = priceArr;
                }

                CloseRwdFilter();

                pagination(filterCard, 1);
            })
        })

        //clear all btn
        clearbtn.forEach(function (item) {
            item.addEventListener('click', function () {

                subcateinput.forEach(function (item) {
                    item.checked = false
                });
                locationinput.forEach(function (item) {
                    item.checked = false
                });

                minPrice.value = "";
                maxPrice.value = "";
                RwdMinPrice.value = "";
                RwdMaxPrice.value = "";

                filterCard = AllCardArray;
                subcateArr = [];
                locationArr = [];
                priceArr = [];
                CloseRwdFilter();
                window.history.replaceState({}, 0, "Index?");
                pagination(filterCard, 1);
            });
        });


        //Pagination
        function pagination(AllData, nowPage) {
            const dataTotal = AllData.length;
            const perPageCount = 12;

            //Count the number of pages
            const pageTotal = Math.ceil(dataTotal / perPageCount);
            let currentPage = nowPage;

            if (currentPage > pageTotal) {
                currentPage = pageTotal;
            }

            const minData = (currentPage * perPageCount) - perPageCount + 1;
            const maxData = (currentPage * perPageCount);

            const data = [];
            AllData.forEach((item, index) => {
                const num = index + 1;
                if (num >= minData && num <= maxData) {
                    data.push(item);
                }
            })

            // 用物件方式來傳遞資料
            const page = {
                pageTotal,
                currentPage,
                hasPage: currentPage > 1,
                hasNext: currentPage < pageTotal,
            }
            addcard(data);
            pageBtn(page);

        }

        let pagediv = document.querySelectorAll('.pagediv');
        let pagebottom = document.querySelector('.pagebottom');
        let pagezone = document.querySelector('.pagezone');

         
        //pageBtn
        function pageBtn(page) {
            let prenext = '';
            const total = page.pageTotal;

            if (page.hasPage) {
                prenext += `<li><a href="#" class="prev page-link" data-page="${Number(page.currentPage) - 1}">Prev</a></li>`; 
            }
            else {
                prenext += `<li class="page-item disabled"><a href="#" class="prev page-link">Prev</a></li>`;
            }


            for (let i = 1; i <= total; i++) {
                if (Number(page.currentPage) === i) {
                    prenext += `<li><a href="#" class="active page-link" data-page="${i}">${i}</a></li> `;
                } else {
                    prenext += `<li><a href="#" class="page-link" data-page="${i}">${i}</a></li>`;
                }
            };

            if (page.hasNext) {
                prenext += `<li><a href="#" class="next page-link" data-page="${Number(page.currentPage) + 1}">Next</a></li>`; 
            } else {
                prenext += `<li class="page-item disabled"><a href="#" class="next page-link">Next</a></li>`;
            }


            pagediv.forEach(function (item) {
                item.innerHTML = prenext;
            })
        }


        function switchPage(e,arr) {
            e.preventDefault();
            if (e.target.nodeName !== 'A') return;
            const page = e.target.dataset.page;
            pagination(arr, page);
        }

        pagediv.forEach(function (item) {
            item.addEventListener('click', function (e) {
                switchPage(e, filterCard);
            });
        });
            



        //Sort by price
        let sortPrice = false;
        document.querySelector('.priceSortBtn').addEventListener('click', function () {
            sortPrice = !sortPrice
            if (sortPrice) {
                filterCard.sort(function (a, b) { return b.Price - a.Price })
                document.querySelector('.priceTop').classList.add('changecolor');
                document.querySelector('.priceLow').classList.remove('changecolor');
            }
            else {
                filterCard.sort(function (a, b) { return a.Price - b.Price })
                document.querySelector('.priceLow').classList.add('changecolor');
                document.querySelector('.priceTop').classList.remove('changecolor');
            }
            pagination(filterCard, 1);
        })
        
        //Sort function
        function SortNumber(sortNumber) {
            filterCard.sort(function (a, b) { return b.sortNumber - a.sortNumber })
        }

        document.querySelector('.orderNumberBtn').addEventListener('click', function(){
            SortNumber(sortNumber)
        });
    </script>
}