@model  PRO_finder.Models.ViewModels.WorkDetailViewModel

@{
    ViewBag.Title = "WorksPage";

}

<section class="site-section pb-0 portfolio-single" id="next-section">

    <div class="container">
       
            <div class="row mb-5 mt-5">

                <div class="col-lg-8">
                    @if (Model.WorkPicture.Count() == 0)
                    {
                        <p>沒有照片</p>
                    }
                    else {
                        foreach (var pic in Model.WorkPicture)
                        {
                <figure>
                    <a href = "@pic.WorkPicture" data - fancybox = "gallery" ><img src = "@pic.WorkPicture" alt = "Image" class="img-fluid"></a>
                </figure>
                        
                    }
                    }
                </div>

                <div class="col-lg-4 ml-auto h-100 jm-sticky-top" id="workdetail">
                        <div class="mb-4" id="WD">
                            <h3 class="mb-4 h4 border-bottom">@Model.WorkName</h3>

                            <p class="mb-0">@Model.WorkDescription</p>
                        </div>

                        <div class="row mb-4">

                            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                                <strong class="d-block text-black">客戶</strong>
                                @Model.Client
                            </div>
                            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                                <strong class="d-block text-black">職責</strong>
                                @Model.Role
                            </div>
                            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                                <strong class="d-block text-black">作品年份</strong>
                                @Model.YearStarted
                            </div>
                            <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                                <strong class="d-block text-black mb-3">網站連結/Website URL</strong>
                                <a href="@Model.WebsiteURL" class="btn btn-outline-primary border-width-2">前往網站/Visit Website</a>
                            </div>
                        </div>


                        <div class="block__87154 mb-0">

                            <blockquote>

                                <div class="block__91147 d-flex align-items-center">
                                    <figure class="mr-4"><img src="@Model.ProfilePicture" alt="Image" class="img-fluid"></figure>
                                    <div>
                                        <h3>@Model.NickName </h3>
                                        <span class="designerType">接案身分: @Model.Identity</span>
                                    </div>
                                </div>

                                <p class="designerSkill">
                                    <span class="designerSkillTit">專長:</span>
                                    <a href="/talent?ca=dRL&amp;su=BJeM" target="_blank" title="EDM設計"># EDM設計</a>
                                    <a href="/talent?ca=dRL&amp;su=My0G" target="_blank" title="廣告Banner"># 廣告Banner</a>
                                    <a href="/talent?ca=L35&amp;su=ao6p" target="_blank" title="影片/音效後製剪輯"># 影片/音效後製剪輯</a>
                                </p>
                                <div class="contactp">
                                    <p><a href="@Url.Action("StudioHome", new { TalentID = @Model.MemberID })" class="btn btn-primary btn-md">回到工作室</a></p>
                                </div>
                            </blockquote>
                        </div>
                </div>


            </div>
       
    </div>

            
</section>
<section class=" py-3 site-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-outline-primary border-width-2 d-block">Previous Project</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-primary border-width-2 d-block">All Projects</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-outline-primary border-width-2 d-block">Next Project</a>
            </div>
        </div>
    </div>
</section>

@section topCSS{
    <style>


        .Quotation > a:first-child {
            color: #89ba16 !important;
            background-color: white
        }

        #WD {
            word-break: break-all;
        }
        .designerSkill a {
            font-size: 15px;
        }

        .designerSkillTit {
            font-size: 15px;
        }

        #workdetail {
            position: sticky;
        }
       
    </style>

}

