@model Background_ProFinder.Models.DBModel.Quotation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quotation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuotationTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuotationTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuotationUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuotationUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecuteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecuteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuotationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
