@model IEnumerable<PRO_finder.Models.ViewModels.SaveCaseViewModel>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="table-responsive p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="p-1 ">案件編號</th>
                        <th scope="col" class="p-1 m-0">案件標題</th>
                        <th scope="col" class="p-1 m-0">預算金額</th>
                        <th scope="col" class="p-1 m-0">發案人</th>
                        <th scope="col" class="p-1 m-0">取消收藏</th>

                    </tr>
                </thead>
                <tbody id="Savecase">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <p class="mb-0">@item.CaseID</p>
                        </td>
                        <td>
                            <a href="/FindQuotation/Detail?id=@item.CaseID"><p class="mb-0">@item.title</p></a>
                        </td>
                        <td>
                            <p class="mb-0">@item.Price</p>
                        </td>
                        <td>
                            <p class="mb-0">@item.Contact</p>
                        </td>
                        <td>
                            <a class="btnDele text-primary" data-content="@item.CaseID">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            @*<button class="text-center btnDele btn btn-primary " data-content="@item.CaseID"><i class="far fa-trash-alt"></i></button>*@
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


    @*<div class="text-center mb-5">
        <button id="btnClear" class="btn btn-primary text-right" >Clear</button>
    </div>*@


</body>
</html>

@section topCSS{
    <style>
        h2{margin-bottom:20px}
        .btnDele:hover {
            cursor: pointer;
        }
        .savecase {
            color: white !important;
            background-color: #89ba16 !important;
            border-radius: 6px;
            font-weight: bolder;
        }
        <style >

        .table thead th {
            border-bottom: 1px solid #f0eded !important;
        }

        .table th {
            border-top: none !important;
            color: #524545;
        }

        .table td {
            border-top: 1px solid #f0eded !important;
            display: table-cell;
            vertical-align: middle !important;
            border-bottom: 1px solid #f0eded !important;
            color: #000;
        }


        tr {
            color: rgb(170, 165, 165);
            text-align: center;
        }
    </style>
}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let btnDele = document.querySelectorAll('.btnDele');
        
        btnDele.forEach(function (item) {

            let caseid = item.getAttribute("data-content");
            console.log(caseid);
            item.addEventListener('click', function () {
                item.disabled = true;

                const asyncRun = async () => {
                    await axios.post('/SaveCase/AddOrDeleSaveCase', { caseid: caseid }).then(res => console.log(res));
                    window.location.reload();
                }
                asyncRun();
            })
        })
    </script>

}
