
@{
    ViewBag.Title = "CaseSetting";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="myContainer">
        <h5>接案設定</h5>
        <hr>
        <div class="form-horizontal">
            <div class="form-group">
                <p for="CaseStatus" class="col-md-12 text-black font-weight-bold">接案狀態</p>
                <div class="container">
                    <div class="row caseStatus">
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Status" value="open" id="CaseStatus-open">
                            <label for="CaseStatus" style="font-size: 14px;" class="d-inline">開啓</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Status" value="open-without-info" id="CaseStatus-openRestricted">
                            <label for="CaseStatus" style="font-size: 14px;" class="d-inline">開啟，隱藏聯絡資訊【建議】</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Status" value="close" id="CaseStatus">
                            <label for="CaseStatus" style="font-size: 14px;">關閉</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="NickName" class="col-md-12 control-label">接案暱稱</label>
                <div class="col-md-12">
                    <input type="text" class="form-control text-box single-line" id="NickName" placeholder="tasker" name="NickName">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <p class="col-md-12 text-black font-weight-bold" for="Identity">接案身份</p>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="0" id="Identity-individual">
                            <label for="individual" style="font-size: 14px;">個人兼職</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="1" id="Identity-soho">
                            <label for="soho" style="font-size: 14px;">專職SOHO</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="2" id="Identity-workhouse">
                            <label for="workhouse" style="font-size: 14px;">工作室</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="3" id="Identity-parttime">
                            <label for="part-time" style="font-size: 14px;">兼職上班族</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="4" id="Identity-company">
                            <label for="company" style="font-size: 14px;">公司</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            <input type="radio" name="Identity" value="5" id="Identity-student">
                            <label for="student" style="font-size: 14px;">學生</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="job-location" class="col-md-12 control-label">居住地</label>
                <div class="col-md-6">
                    @Html.DropDownList("LiveCity", (List<SelectListItem>)ViewBag.LocationDropdownList, new { @class = "form-control"})
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="Cellphone" class="col-md-12 control-label">行動電話</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="Cellphone" placeholder="Product Designer" name="Cellphone">
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-md-12 control-label">Email</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="Email" placeholder="you@yourdomain.com" name="Email">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="TalentCategoryID" class="col-md-12 control-label">擅長軟體工具</label>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            @Html.DropDownList("ToolCategoryID", (List<SelectListItem>)ViewBag.ToolList, new { @class = "form-control" })
                            <div class="mt-3 toolCheckArea" id="toolCheckArea"></div>
                        </div>
                        <div class="col-12 col-md-6 displayTool" id="displayTool">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>理想接案條件</h5>
        <hr />
        <div class="form-group">
            <label for="LocationID" class="col-md-12 control-label">理想接案城市</label>
            <div class="col-md-6">
                @Html.DropDownList("LocationID", (List<SelectListItem>)ViewBag.LocationDropdownList, new { @class = "form-control", @id = "toolDropdown"})
            </div>
        </div>
        <div class="form-group">
            <label for="SubCategoryID" class="col-md-12 control-label">理想接案類別</label>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        @Html.DropDownList("Catgeory", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", @id = "categoryDropdown" })
                    </div>
                    <div class="col-6">
                        <select class="form-control" id="subcategorySelect" name="SubCategoryID">
                            <option class="text-center">選擇子類型</option>
                        </select>
                        @*@Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>接案經歷</h5>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <p>接案經歷下拉式選單</p>
            </div>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>接案描述</h5>
        <hr />
        <div class="form-group">
            <div id="editor">
                <p>Write Job Description!</p>
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-12 text-center">
            <input value="儲存設定" class="btn btn-primary" id="submit" />
        </div>
    </div>
    <template id="toolCheckBox">
        <div class="form-check col-12">
            <input type="checkbox" name="talentTool" id="" class="form-check-input">&ensp;<label class="form-check-label mb-0"></label>
        </div>
    </template>
    <template id="toolCheckedTag">
        <div class="d-flex toolTag mb-2 justify-content-center">
            <p class="mb-0"></p> &ensp;
            <button class="mb-0 btn border-0 bg-transparent"><i class="fas fa-trash"></i></button>
        </div>
    </template>
}
@section topCSS
    {
    <link href="~/Assets/css/quill.snow.css" rel="stylesheet" />
    <style>
        h5 {
            color: #89ba16;
            font-weight: 900;
            padding: 0 15px;
        }

            .myContainer {
                @*max-width: 510px;
                *@ margin: auto;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                padding: 25px;
            }

            label {
                font-weight: 700;
            }
        .toolCheckArea {
            border: dashed 1px #bebebe;
            border-radius:.25rem;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            padding:10px;
            max-height: 200px;
            overflow:auto;
        }
        .toolTag {
            padding: 3px;
            border: solid 1px #bebebe;
            border-radius: .25rem;
            display: inline;
        }
        .toolTag p{
            line-height:36px;
        }
            .toolTag button {
                color: #89ba16 !important;
            }
        #displayTool{
            max-height:254px;
            overflow:auto;
        }    
        @@media screen and (min-width:768px){
            .toolCheckArea{
                margin-top:0px;
            }
        }

    </style>
}
@section endJS{
    <script src="~/Assets/js/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //接案類別轉換
        let selector = document.querySelector("#subcategorySelect");
        var subCategoryList = [];

        axios.get("/Talent/GetAllCategoryAndSubCategoryList").then(result => {
            let data = JSON.parse(result.data);
            subCategoryList.push(...data);
        });

        document.querySelector("#categoryDropdown").addEventListener("change", function () {
            selector.innerHTML = "<option class='text-center'>選擇子類型</option>";
            subCategoryList.forEach(sub => {
                if (sub.CategoryID == this.value) {
                    let allsub = JSON.parse(sub.JsonSubCategoryList);
                    allsub.forEach(s => {
                        let option = document.createElement("option");
                        option.innerText = s.SubCateName;
                        option.value = s.SubCateID;
                        selector.append(option);
                    });
                };
            });
        });

        //擅長工具Dropdown & checkbox
        let subToolArray = []
        axios.get("/Talent/GetSubTool").then(res => {
            let tools = JSON.parse(res.data);
            subToolArray.push(...tools);
        });
        $g("select#ToolCategoryID").addEventListener("change", function () {
            let cateID = Number(this.value);
            $g("#toolCheckArea").innerHTML = "";
            subToolArray.forEach(subTool => {
                if (subTool.TalentCategoryID == cateID) {
                    let clone_checkbox = $g("template#toolCheckBox").content.cloneNode(true);
                    clone_checkbox.querySelector("label").innerText = subTool.SubTalentCategoryName;
                    clone_checkbox.querySelector("input").value = subTool.SubTalentCategoryID;
                    clone_checkbox.querySelector("input").setAttribute("data-content", subTool.SubTalentCategoryName);
                    clone_checkbox.querySelector("input").checked = subTool.IsChecked;
                    clone_checkbox.querySelector("input").addEventListener("change", function (e) {
                        //let element = e.target;
                        if (e.target.checked) {
                            clone_tag = $g("template#toolCheckedTag").content.cloneNode(true);
                            console.log(clone_tag)
                            clone_tag.querySelector("p").innerText = this.dataset.content;
                            clone_tag.querySelector("div").setAttribute("id", `tool${this.value}`);
                            clone_tag.querySelector("button").setAttribute("data-content", this.value);
                            $g("#displayTool").appendChild(clone_tag);
                            subToolArray[this.value]["IsChecked"] = true;
                        } else {
                            let theTag = $g(`div#tool${this.value}`);
                            $g("#displayTool").removeChild(theTag);
                            subToolArray[this.value]["IsChecked"] = false;
                        }
                    });
                    document.querySelector("#toolCheckArea").appendChild(clone_checkbox);
                }
            });

        });
        

        //quill 富文本編輯器
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
        $g('.ql-toolbar.ql-snow').style.setProperty('border-radius', '.25rem .25rem 0 0');
        $g('#editor').style.setProperty('border-radius', '0 0 .25rem .25rem');
        $g('#editor').style.setProperty('min-height', '200px');

        function $g(element) {
            let temp = document.querySelectorAll(element);
            return temp.length == 1 ? temp[0] : temp;
        }

    </script>

}

