
@{
    ViewBag.Title = "接案設定";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="app">
        <div class="myContainer">
            <h5>接案設定</h5>
            <hr>
            <div class="form-horizontal">
                <div class="form-group">
                    <p for="CaseStatus" class="col-md-12 text-black font-weight-bold">接案狀態</p>
                    <div class="container">
                        <div class="row caseStatus">
                            @if (Model.Status == true)
                            {
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="true" id="CaseStatus-open" checked v-model="Settings.Status">
                                    <label for="CaseStatus-open" style="font-size: 14px;" class="d-inline">開啓</label>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="false" id="CaseStatus-closed" v-model="Settings.Status">
                                    <label for="CaseStatus-closed" style="font-size: 14px;">關閉</label>
                                </div>
                            }
                            else if (Model.Status == false)
                            {
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="true" id="CaseStatus-open" v-model="Settings.Status">
                                    <label for="CaseStatus-open" style="font-size: 14px;" class="d-inline">開啓</label>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="false" id="CaseStatus-closed" checked v-model="Settings.Status">
                                    <label for="CaseStatus-closed" style="font-size: 14px;">關閉</label>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="true" id="CaseStatus-open" v-model="Settings.Status">
                                    <label for="CaseStatus-open" style="font-size: 14px;" class="d-inline">開啓</label>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="false" id="CaseStatus-closed" v-model="Settings.Status">
                                    <label for="CaseStatus-closed" style="font-size: 14px;">關閉</label>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <p class="validationMsg">{{ValidationMsg.Status}}</p>
                <hr />
                <div class="form-group">
                    <label for="NickName" class="col-md-12 control-label">接案暱稱</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control text-box single-line" id="NickName" name="NickName" value="@Model.NickName" v-model="Settings.NickName">
                    </div>
                </div>
                <p class="validationMsg col-12">{{ValidationMsg.NickName}}</p>
                <hr />
                <div class="form-group">
                    <p class="col-md-12 text-black font-weight-bold" for="Identity">接案身份</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 0)
                                {
                                    <input type="radio" name="Identity" value="0" id="Identity-individual" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="0" id="Identity-individual" v-model="Settings.Identity">
                                }
                                <label for="Identity-individual" style="font-size: 14px;">個人兼職</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 1)
                                {
                                    <input type="radio" name="Identity" value="1" id="Identity-soho" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="1" id="Identity-soho" v-model="Settings.Identity">
                                }
                                <label for="Identity-soho" style="font-size: 14px;">專職SOHO</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 2)
                                {
                                    <input type="radio" name="Identity" value="2" id="Identity-workhouse" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="2" id="Identity-workhouse" v-model="Settings.Identity">
                                }
                                <label for="Identity-workhouse" style="font-size: 14px;">工作室</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 3)
                                {
                                    <input type="radio" name="Identity" value="3" id="Identity-partime" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="3" id="Identity-partime" v-model="Settings.Identity">
                                }
                                <label for="Identity-partime" style="font-size: 14px;">兼職上班族</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 4)
                                {
                                    <input type="radio" name="Identity" value="4" id="Identity-company" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="4" id="Identity-company" v-model="Settings.Identity">
                                }
                                <label for="Identity-company" style="font-size: 14px;">公司</label>
                            </div>
                            <div class="col-12 col-md-auto">
                                @if ((int)Model.Identity == 5)
                                {
                                    <input type="radio" name="Identity" value="5" id="Identity-student" checked="checked" v-model="Settings.Identity">
                                }
                                else
                                {
                                    <input type="radio" name="Identity" value="5" id="Identity-student" v-model="Settings.Identity">
                                }
                                <label for="Identity-student" style="font-size: 14px;">學生</label>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="validationMsg col-12">{{ValidationMsg.Identity}}</p>
                <hr />
                <div class="form-group">
                    <label for="job-location" class="col-md-12 control-label">居住地</label>
                    <div class="col-md-6">
                        @Html.DropDownList("LiveCity", (List<SelectListItem>)ViewBag.LocationDropdownListForLiveCity, new { @class = "form-control", @name = "LiveCity", @v_model = "Settings.LiveCity" })
                    </div>
                </div>
                <p class="validationMsg">{{ValidationMsg.LiveCity}}</p>
                <hr />
                <div class="form-group">
                    <label for="Cellphone" class="col-md-12 control-label">行動電話</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="Cellphone" name="Cellphone" value="@Model.Cellphone" v-model="Settings.CellPhone">
                    </div>
                </div>
                <p class="validationMsg">{{ValidationMsg.CellPhone}}</p>
                <div class="form-group">
                    <label for="Email" class="col-md-12 control-label">Email</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="Email" placeholder="you@yourdomain.com" name="Email" value="@Model.Email" v-model="Settings.Email">
                    </div>
                </div>
                <p class="validationMsg">{{ValidationMsg.Email}}</p>
                <hr />
                <div class="form-group">
                    <label for="TalentCategoryID" class="col-md-12 control-label">擅長軟體工具</label>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-2">
                                @Html.DropDownList("ToolCategoryID", (List<SelectListItem>)ViewBag.ToolList, new { @class = "form-control" })
                                <div class="mt-3 toolCheckArea" id="toolCheckArea"></div>
                            </div>
                            <div class="col-12 col-lg-6 displayTool" id="displayTool">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="myContainer mt-3">
            <h5>理想接案條件</h5>
            <hr />
            <div class="form-group">
                <label for="LocationID" class="col-md-12 control-label">理想接案城市</label>
                <div class="col-md-6">
                    @Html.DropDownList("LocationIDInt", (List<SelectListItem>)ViewBag.LocationDropdownList, new { @class = "form-control", @id = "toolDropdown", @v_model = "Settings.LocationIDInt" })
                </div>
            </div>
            <p class="validationMsg">{{ValidationMsg.LocationIDInt}}</p>
            <div class="form-group">
                <label for="SubCategoryID" class="col-md-12 control-label">理想接案類別</label>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            @Html.DropDownList("Catgeory", (List<SelectListItem>)ViewBag.IdealCaseCategoryList, new { @class = "form-control", @id = "categoryDropdown", @v_model = "Settings.CategoryID" })
                        </div>
                        <div class="col-6">
                            <select class="form-control" id="subcategorySelect" name="SubCategoryID" v-model="Settings.SubCategoryID">
                                <option value="-1">選擇子類型</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <p class="validationMsg">{{ValidationMsg.SubCategoryID}}</p>
        </div>
        <div class="myContainer mt-3">
            <h5>接案經歷</h5>
            <hr />
            <div class="form-group">
                <label for="AllPieceworkExp" class="col-md-12 control-label">累計接案經驗</label>
                <div class="col-md-6">
                    <select id="AllPieceworkExp" class="form-control" name="AllPieceworkExp" v-model="Settings.AllPieceworkExp">
                        @switch ((string)Model.AllPieceworkExp)
                        {
                            case "無工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗" selected>無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "0-1年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗" selected>0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "1-2年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗" selected>1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "2-3年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗" selected>2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "3-4年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗" selected>3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "4-5年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗" selected>4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "5-6年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗" selected>5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "6-7年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗" selected>6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "7-8年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗" selected>7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "8-9年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗" selected>8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "9-10年工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗" selected>9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                            case "10年以上工作經驗":
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗" selected>10年以上工作經驗</option>
                                break;
                            default:
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                                break;
                        }
                    </select>
                </div>
            </div>
            <p class="validationMsg">{{ValidationMsg.AllPieceworkExp}}</p>
            <hr />
            <label class="col-md-12 control-label text-black">接案經驗</label>
            <div id="ExDArea">

                @if (Model.Experiences.Count == 0)
                {
                    <div class="col-md-12 my-2 ExDWrap" id=`ExDWrap0`>
                        <p class="col-md-12 text-black mb-2">接案經驗細節</p>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4 mt-2">
                                        @Html.DropDownList("ExDCategoryID", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", @id = "ExDCategoryID0" })
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mt-2">
                                        <select class="form-control" name="ExDSubCategoryID" id="ExDSubCategoryID0">
                                            <option>選擇子類型</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mt-2">
                                        <select class="form-control" name="ExDPieceworkExp">
                                            <option value="-1">請選擇工作期間</option>
                                            <option value="無工作經驗">無工作經驗</option>
                                            <option value="0-1年工作經驗">0-1年工作經驗</option>
                                            <option value="1-2年工作經驗">1-2年工作經驗</option>
                                            <option value="2-3年工作經驗">2-3年工作經驗</option>
                                            <option value="3-4年工作經驗">3-4年工作經驗</option>
                                            <option value="4-5年工作經驗">4-5年工作經驗</option>
                                            <option value="5-6年工作經驗">5-6年工作經驗</option>
                                            <option value="6-7年工作經驗">6-7年工作經驗</option>
                                            <option value="7-8年工作經驗">7-8年工作經驗</option>
                                            <option value="8-9年工作經驗">8-9年工作經驗</option>
                                            <option value="9-10年工作經驗">9-10年工作經驗</option>
                                            <option value="10年以上工作經驗">10年以上工作經驗</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    for (int i = 0; i < Model.Experiences.Count; i++)
                    {
                        <div class="col-md-12 my-2 ExDWrap" id=@string.Concat("ExDWrap", i.ToString())>
                            <a class="btn removeExD" data-count="@i"><i class="far fa-trash-alt"></i></a>
                            <p class="col-md-12 text-black mb-2">接案經驗細節</p>
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                                            @Html.DropDownList("ExDCategoryID", (List<SelectListItem>)Model.Experiences[i].CategoryDropdown, new { @class = "form-control", @id = string.Concat("ExDCategoryID", i.ToString()) })
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                                            @Html.DropDownList("ExDSubCategoryID", (List<SelectListItem>)Model.Experiences[i].SubCategoryDropdown, new { @class = "form-control", @id = string.Concat("ExDSubCategoryID", i.ToString()) })
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                                            @Html.DropDownList("ExDPieceworkExp", (List<SelectListItem>)Model.Experiences[i].PieceworkDropdown, new { @class = "form-control", @id = string.Concat("PieceworkDropdown", i.ToString()) })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
            <div class="col-md-12 mt-3 text-right">
                <span class="btn btn-light" id="addExD"><i class="fas fa-plus"></i>&ensp;新增接案經歷</span>
            </div>
        </div>
        <div class="myContainer mt-3">
            <h5>接案描述</h5>
            <hr />
            <div class="form-group">
                <div id="editor">
                    <div>
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
            <p class="validationMsg">{{ValidationMsg.Description}}</p>
        </div>
        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input value="儲存設定" class="btn btn-primary" id="send" type="button" @@click="checkDescription(event)" />
            </div>
        </div>
    </div>
    <input type="hidden" name="JsonToolList" id="JsonToolList">
    <input type="hidden" name="JsonExDList" id="JsonExDList">
    <input type="hidden" name="Description" id="Description" />
    <template id="toolCheckBox">
        <div class="form-check col-12">
            <input type="checkbox" name="talentTool" id="" class="form-check-input">&ensp;<label class="form-check-label mb-0"></label>
        </div>
    </template>
    <template id="toolCheckedTag">
        <div class="d-flex toolTag mb-2 justify-content-center">
            <p class="mb-0"></p> &ensp;
            <button class="mb-0 btn border-0 bg-transparent"><i class="fas fa-trash"></i></button>
        </div>
    </template>
    <template id="ExDTemplate">
        <div class="col-md-12 my-2 ExDWrap">
            <a class="btn removeExD"><i class="far fa-trash-alt"></i></a>
            <p class="col-md-12 text-black mb-2">接案經驗細節</p>
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            @Html.DropDownList("ExDCategoryID", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            <select class="form-control" name="ExDSubCategoryID">
                                <option>選擇子類型</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            <select class="form-control" name="ExDPieceworkExp">
                                <option value="-1">請選擇工作期間</option>
                                <option value="無工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
}
@section topCSS
                    {
    <link href="~/Assets/css/quill.snow.css" rel="stylesheet" />
    <style>
        h5 {
            color: #89ba16;
            font-weight: 900;
            padding: 0 15px;
            }

            .myContainer {
                @*max-width: 510px;
                *@ margin: auto;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                padding: 25px;
            }

            label {
                font-weight: 700;
            }
        .toolCheckArea {
            border: dashed 1px #bebebe;
            border-radius:.25rem;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            padding:10px;
            max-height: 200px;
            overflow:auto;
        }
        label[for^='toolInput']{
            word-wrap:break-word;
        }
        .toolTag {
            padding: 3px;
            border: solid 1px #bebebe;
            border-radius: .25rem;
            display: inline;
        }
        .toolTag p{
            line-height:36px;
        }
            .toolTag button {
                color: #89ba16 !important;
            }
        #displayTool{
            max-height:254px;
            overflow:auto;
        }
        .ExDWrap {
            border: dashed 1px #bebebe;
            padding: 15px;
            border-radius: .25rem;
            position: relative;
        }

            .ExDWrap a {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
            }

                .ExDWrap a:hover {
                    cursor: pointer;
                }
                input#send{
                    cursor: pointer;
                }
                input#send[disabled="disabled"]{
                    cursor:default;
                }
                .validationMsg{
                    color:red;
                    font-size:11px;
                    margin-bottom:0px;
                    padding-left:15px;
                }
        @@media screen and (min-width:768px){
            .toolCheckArea{
                margin-top:0px;
            }
        }

    </style>
}
@section endJS{

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="~/Assets/js/quill.min.js"></script>
    <script> var model = @Html.Raw(Json.Encode(Model));</script>
    <script>
        //Vue前端驗證
        var ideal_categoryID = @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) != null ? @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) : -1;
        var app = new Vue({
            el: "#app",
            data: {
                Settings: {
                    Status: model.Status,
                    NickName: model.NickName,
                    Identity: model.Identity,
                    LiveCity: model.LiveCity,
                    CellPhone: model.Cellphone,
                    Email: model.Email,
                    LocationIDInt: model.LocationIDInt,
                    SubCategoryID: model.SubCategoryID,
                    AllPieceworkExp: model.AllPieceworkExp,
                    Description: model.Description,
                    CategoryID: ideal_categoryID,
                },
                Validation:{
                    Status: true,
                    NickName: true,
                    Identity: true,
                    LiveCity: true,
                    CellPhone: true,
                    Email: true,
                    LocationIDInt: true,
                    SubCategoryID: true,
                    AllPieceworkExp: true,
                    Description:true
                },
                ValidationMsg: {
                    Status: "",
                    NickName: "",
                    Identity: "",
                    LiveCity: "",
                    CellPhone: "",
                    Email: "",
                    LocationIDInt: "",
                    SubCategoryID: "",
                    AllPieceworkExp: "",
                    Description:""
                },
                allValidation: true
            },
            watch: {
                "Settings.Status": function () {
                    if (this.Settings.Status == null) {
                        this.Validation.Status = false;
                        this.ValidationMsg.Status = "請選擇接案狀態";
                    } else {
                        this.Validation.Status = true;
                        this.ValidationMsg.Status = "";
                    };
                    this.checkValidation();
                },
                "Settings.NickName": function () {
                    if (this.Settings.NickName == "") {
                        this.Validation.NickName = false;
                        this.ValidationMsg.NickName = "請輸入接案暱稱";
                    } else {
                        this.Validation.NickName = true;
                        this.ValidationMsg.NickName = "";
                    };
                    this.checkValidation();

                },
                "Settings.Identity": function () {
                    if (this.Settings.Identity == null) {
                        this.Validation.Identity = false;
                        this.ValidationMsg.Identity = "請選擇接案身份";
                    } else {
                        this.Validation.Identity = true;
                        this.ValidationMsg.Identity = "";
                    };
                    this.checkValidation();
                },
                "Settings.LiveCity": function () {
                    if (this.Settings.LiveCity == -1) {
                        this.Validation.LiveCity = false;
                        this.ValidationMsg.LiveCity = "請選擇居住城市";
                    } else {
                        this.Validation.LiveCity = true;
                        this.ValidationMsg.LiveCity = "";
                    };
                    this.checkValidation();
                },
                "Settings.CellPhone": function () {
                    let regx = new RegExp("^09[0-9]{8}");
                    console.log();
                    if (this.Settings.CellPhone == "") {
                        this.Validation.CellPhone  = false;
                        this.ValidationMsg.CellPhone  = "請輸入電話號碼";
                    } else if (!regx.test(this.Settings.CellPhone)) {
                        this.Validation.CellPhone  = false;
                        this.ValidationMsg.CellPhone  = "請使用正確的手機號碼格式，09xxxxxxxx";
                    }
                    else{
                        this.Validation.CellPhone  = true;
                        this.ValidationMsg.CellPhone  = "";
                    };
                    this.checkValidation();
                },
                "Settings.Email": function () {
                    if (this.Settings.Email == "") {
                        this.Validation.Email = false;
                        this.ValidationMsg.Email = "請輸入您的Email";
                    } else {
                        this.Validation.Email = true;
                        this.ValidationMsg.Email = "";
                    };
                    this.checkValidation();
                },
                "Settings.LocationIDInt": function () {
                    if (thisSettings.LocationIDInt == -1) {
                        this.Validation.LocationIDInt = false;
                        this.ValidationMsg.LocationIDInt = "請選擇理想接案地點";
                    } else {
                        this.Validation.LocationIDInt = true;
                        this.ValidationMsg.LocationIDInt = "";
                    };
                    this.checkValidation();
                },
                "Settings.CategoryID": function () {
                    this.Settings.SubCategoryID = -1;
                    if (this.Settings.CategoryID == -1) {
                        this.Settings.SubCategoryID = -1;
                    }
                },
                "Settings.SubCategoryID": function () {
                    if (this.Settings.SubCategoryID == -1) {
                        this.Validation.SubCategoryID = false;
                        this.ValidationMsg.SubCategoryID = "請選擇理想接案類別";
                    } else {
                        this.Validation.SubCategoryID = true;
                        this.ValidationMsg.SubCategoryID = "";
                    };
                    this.checkValidation();
                },
                "Settings.AllPieceworkExp": function () {
                    if (this.Settings.AllPieceworkExp == -1) {
                        this.Validation.AllPieceworkExp = false;
                        this.ValidationMsg.AllPieceworkExp = "請選擇累積接案年資";
                    } else {
                        this.Validation.AllPieceworkExp = true;
                        this.ValidationMsg.AllPieceworkExp = "";
                    };
                    this.checkValidation();
                }
            },
            methods: {
                checkValidation() {
                    if (this.Validation.Status && this.Validation.NickName && this.Validation.Identity && this.Validation.LiveCity &&
                        this.Validation.CellPhone && this.Validation.Email && this.Validation.LocationIDInt && this.Validation.SubCategoryID &&
                        this.Validation.AllPieceworkExp && this.Validation.Description) {
                        this.allValidation = true;
                    }
                    else {
                        this.allValidation = false;
                    }
                },
                checkDescription(event) {
                    event.preventDefault();

                    //取得Description
                    let description = document.querySelector("div.ql-editor").innerText;
                    if (description == "" || description == "\n") {
                        this.ValidationMsg.Description = "請簡單填寫您的接案描述，例如：您好，我是ProFinder!";
                        this.Validation.Description = false;
                        this.checkValidation();
                    } else {
                        this.sendForm();
                    }
                },
                sendForm() {
                    //取得擅長軟體
                    let tools = subToolArray.filter(x => x.IsChecked == true);
                    let toolArray = [];
                    tools.forEach(t => {
                        let obj = new Object();
                        obj.ToolSubCategoryID = t.SubTalentCategoryID;
                        obj.ToolSubCategoryName = t.SubTalentCategoryName;
                        obj.ToolCategoryID = t.TalentCategoryID;
                        toolArray.push(obj);
                    });
                    //console.log(toolArray)
                    $g("input#JsonToolList").value = JSON.stringify(toolArray);

                    //取得接案經歷
                    let ExDCateId = document.querySelectorAll("select[name='ExDCategoryID']");
                    let ExDSubId = document.querySelectorAll("select[name='ExDSubCategoryID']");
                    let ExDPieceworkExp = document.querySelectorAll("select[name='ExDPieceworkExp']");
                    let ExDArray = [];
                    let len = ExDSubId.length >= ExDPieceworkExp.length ? ExDPieceworkExp.length : ExDSubId.length;
                    for (let i = 0; i < len; i++) {
                        if ((Number(ExDSubId[i].value) != "-1") && (ExDPieceworkExp[i].value != "-1")) {
                            let obj = new Object();
                            obj.CategoryID = Number(ExDCateId[i].value);
                            obj.SubCategoryID = Number(ExDSubId[i].value);
                            obj.PieceworkExp = ExDPieceworkExp[i].value;
                            ExDArray.push(obj);
                        }

                    }
                    //console.log(ExDArray);
                    $g("input#JsonExDList").value = JSON.stringify(ExDArray);

                    //取得Description
                    $g("input#Description").value = $g("div.ql-editor").innerHTML;
                    document.querySelector("form[action='/Talent/CaseSetting']").submit();
                }
            }
        });
    </script>
    <script>
        //理想接案類別
        let selector = document.querySelector("#subcategorySelect");
        var subCategoryList = [];
        ////取得類別資料
        axios.get("/api/Talent/GetAllCategoryAndSubCategoryList").then(result => {
            let data = JSON.parse(result.data.Result);
            subCategoryList.push(...data);
            ////顯示已經儲存的資料
            let idealSubCateID = @Html.Raw(Json.Encode(ViewBag.IdealSubCategoryID)) != null ? @Html.Raw(Json.Encode(ViewBag.IdealSubCategoryID)) : -1;
            let idealCateID = @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) != null ? @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) : -1;

            if (idealSubCateID != -1) {
                selector.innerHTML = "<option value='-1'>選擇子類型</option>";
                let theSubList = subCategoryList.filter(x => x.CategoryID == idealCateID)[0].JsonSubCategoryList;
                let allSub = JSON.parse(theSubList);
                console.log(allSub);
                allSub.forEach(s => {
                    let option = document.createElement("option");
                    option.innerText = s.SubCateName;
                    option.value = s.SubCateID;
                    if (idealSubCateID == s.SubCateID) { option.selected = true; }
                    document.querySelector("#subcategorySelect").appendChild(option);
                });
            }

            //change轉換子類別
            document.querySelector("#categoryDropdown").addEventListener("change", function () {
                if (this.value != -1) {
                    ChangeSubcategory(this.value);
                } else {
                    document.querySelector("#subcategorySelect").innerHTML = "<option value='-1' selected>選擇子類型</option>";
                }

            });
        });

        function ChangeSubcategory(arg) {
            document.querySelector("#subcategorySelect").innerHTML = "<option value='-1'>選擇子類型</option>";
            let theSubList = subCategoryList.filter(x => x.CategoryID == Number(arg))[0].JsonSubCategoryList;
            let allSub = JSON.parse(theSubList);
            allSub.forEach(s => {
                let option = document.createElement("option");
                option.innerText = s.SubCateName;
                option.value = s.SubCateID;
                document.querySelector("#subcategorySelect").append(option);
            });
        };


        //擅長工具Dropdown & checkbox
        let subToolArray = []
        let subToolArrayInRecord = []
        //從資料庫中獲取member儲存的talentTools
        const getTalentTools = async () => {
            //擅長工具-取得所有類別
            await axios.get("/api/Talent/GetSubTool").then(res => {
                let tools = JSON.parse(res.data.Result);
                subToolArray.push(...tools);
            });
            ////擅長工具-顯示既有資料
            await axios.get("/api/Talent/GetMemberToolRecord").then(res => {
                let record = JSON.parse(res.data.Result);
                subToolArrayInRecord.push(...record);
                subToolArrayInRecord.forEach(tRecord => {
                    //console.log(tRecord)
                    subToolArray.forEach(t => {
                        if (t.SubTalentCategoryID == tRecord.ToolSubCategoryID) {
                            t.IsChecked = true;
                            clone_tag = $g("template#toolCheckedTag").content.cloneNode(true);
                            clone_tag.querySelector("p").innerText = t.SubTalentCategoryName;
                            clone_tag.querySelector("div").setAttribute("id", `toolTag${t.SubTalentCategoryID}`);
                            clone_tag.querySelector("div").setAttribute("data-content", t.SubTalentCategoryID);
                            clone_tag.querySelector("button").setAttribute("data-content", t.SubTalentCategoryID);
                            clone_tag.querySelector("button").addEventListener("click", function (e) {
                                e.preventDefault();
                                let value = t.SubTalentCategoryID;
                                let theTag = $g(`div#toolTag${value}`);
                                $g("#displayTool").removeChild(theTag);
                                $g(`input#toolInput${value}`).checked = false;
                                subToolArray[value]["IsChecked"] = false;
                            });
                            $g("#displayTool").appendChild(clone_tag);
                        }
                    });

                });
            });
        };
        getTalentTools();


        ////擅長工具-使用者選擇更換
        $g("select#ToolCategoryID").addEventListener("change", function () {
            let cateID = Number(this.value);
            $g("#toolCheckArea").innerHTML = "";
            subToolArray.forEach(subTool => {
                if (subTool.TalentCategoryID == cateID) {
                    let clone_checkbox = $g("template#toolCheckBox").content.cloneNode(true);
                    clone_checkbox.querySelector("label").innerText = subTool.SubTalentCategoryName;
                    clone_checkbox.querySelector("label").setAttribute("for", `toolInput${subTool.SubTalentCategoryID}`)
                    clone_checkbox.querySelector("input").value = subTool.SubTalentCategoryID;
                    clone_checkbox.querySelector("input").setAttribute("id", `toolInput${subTool.SubTalentCategoryID}`);
                    clone_checkbox.querySelector("input").setAttribute("data-content", subTool.SubTalentCategoryName);
                    clone_checkbox.querySelector("input").checked = subTool.IsChecked;
                    clone_checkbox.querySelector("input").addEventListener("change", function (e) {
                        //let element = e.target;
                        if (e.target.checked) {
                            clone_tag = $g("template#toolCheckedTag").content.cloneNode(true);
                            clone_tag.querySelector("p").innerText = this.dataset.content;
                            clone_tag.querySelector("div").setAttribute("id", `toolTag${this.value}`);
                            clone_tag.querySelector("div").setAttribute("data-content", this.value);
                            clone_tag.querySelector("button").setAttribute("data-content", this.value);
                            clone_tag.querySelector("button").addEventListener("click", function (e) {
                                e.preventDefault();
                                let value = this.dataset.content;
                                let theTag = $g(`div#toolTag${value}`);
                                $g("#displayTool").removeChild(theTag);
                                $g(`input#toolInput${value}`).checked = false;
                                subToolArray[value]["IsChecked"] = false;
                            });
                            $g("#displayTool").appendChild(clone_tag);
                            subToolArray[this.value]["IsChecked"] = true;
                        } else {
                            let theTag = $g(`div#toolTag${this.value}`);
                            $g("#displayTool").removeChild(theTag);
                            subToolArray[this.value]["IsChecked"] = false;
                        }
                    });
                    document.querySelector("#toolCheckArea").appendChild(clone_checkbox);
                }
            });

        });


        //接案經歷類別轉換
        //如果沒有接案資料
        if (@Html.Raw(Model.Experiences.Count) == 0) {
            let ExDSubSelector = $g("select#ExDSubCategoryID0")
            document.querySelector("select#ExDCategoryID0").addEventListener("change", function () {
                ExDSubSelector.innerHTML = "<option>選擇子類型</option>";
                subCategoryList.forEach(sub => {
                    if (sub.CategoryID == this.value) {
                        let allsub = JSON.parse(sub.JsonSubCategoryList);
                        allsub.forEach(s => {
                            let option = document.createElement("option");
                            option.innerText = s.SubCateName;
                            option.value = s.SubCateID;
                            ExDSubSelector.append(option);
                        });
                    };
                });
            });
        } else {
            //有接案經驗資料
            let ExDCategorySelector = document.querySelectorAll("select[id^='ExDCategoryID']");
            ExDCategorySelector.forEach(s => {
                let number = s.id.charAt(13);
                let subSelector = $g(`#ExDSubCategoryID${number}`);
                s.addEventListener("change", function () {
                    subSelector.innerHTML = "<option>選擇子類型</option>";
                    let allsub = JSON.parse(subCategoryList.filter(x => x.CategoryID == this.value)[0].JsonSubCategoryList);
                    allsub.forEach(s => {
                        let option = document.createElement("option");
                        option.innerText = s.SubCateName;
                        option.value = s.SubCateID;
                        subSelector.append(option);
                    });
                });
            });

            let removeBtn = document.querySelectorAll("a.removeExD");
            removeBtn.forEach(r => {
                r.addEventListener("click", function () {
                    let theExD = $g(`div#ExDWrap${this.dataset.count}`);
                    $g("div#ExDArea").removeChild(theExD);
                });
            });
        }





        //新增接案經歷
        let ExDCount = @Html.Raw(Model.Experiences.Count) + 1;
        $g("span#addExD").addEventListener("click", function () {
            clone_ExD = $g("template#ExDTemplate").content.cloneNode(true);
            clone_ExD.querySelector("div.ExDWrap").setAttribute("id", `ExDWrap${ExDCount}`);
            clone_ExD.querySelector("select[name='ExDSubCategoryID']").setAttribute("id", `ExDSubCategoryID${ExDCount}`);
            clone_ExD.querySelector("select[name='ExDCategoryID']").setAttribute("id", `ExDCategoryID${ExDCount}`);
            let subSelector = clone_ExD.querySelector(`select#ExDSubCategoryID${ExDCount}`);
            clone_ExD.querySelector(`select#ExDCategoryID${ExDCount}`).addEventListener("change", function () {
                subSelector.innerHTML = "<option>選擇子類型</option>";
                let allsub = JSON.parse(subCategoryList.filter(x => x.CategoryID == this.value)[0].JsonSubCategoryList);
                allsub.forEach(s => {
                    let option = document.createElement("option");
                    option.innerText = s.SubCateName;
                    option.value = s.SubCateID;
                    subSelector.append(option);
                });
            });
            //clone_ExD.querySelector("p").innerText = `接案經驗細節${ExDCount + 1}`;
            clone_ExD.querySelector("a").setAttribute("data-count", ExDCount);
            clone_ExD.querySelector("a").addEventListener("click", function () {
                let theExD = $g(`div#ExDWrap${this.dataset.count}`);
                $g("div#ExDArea").removeChild(theExD);
            });
            $g("div#ExDArea").appendChild(clone_ExD);
            ExDCount++;
        });

        //quill 富文本編輯器
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
        $g('.ql-toolbar.ql-snow').style.setProperty('border-radius', '.25rem .25rem 0 0');
        $g('#editor').style.setProperty('border-radius', '0 0 .25rem .25rem');
        $g('#editor').style.setProperty('min-height', '200px');

        function $g(element) {
            let temp = document.querySelectorAll(element);
            return temp.length == 1 ? temp[0] : temp;
        }



    </script>

}

