
@{
    ViewBag.Title = "CaseSetting";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()<div class="myContainer">
        <h5>接案設定</h5>
        <hr>
        <div class="form-horizontal">
            <div class="form-group">
                <p for="CaseStatus" class="col-md-12 text-black font-weight-bold">接案狀態</p>
                <div class="container">
                    <div class="row caseStatus">
                        @if (Model.Status)
                        {
                            <div class="col-12 col-md-auto">
                                <input type="radio" name="Status" value="true" id="CaseStatus-open" checked>
                                <label for="CaseStatus-open" style="font-size: 14px;" class="d-inline">開啓</label>
                            </div>
                            @*<div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="true" id="CaseStatus-openRestricted">
                                    <label for="CaseStatus-openRestricted" style="font-size: 14px;" class="d-inline">開啟，隱藏聯絡資訊【建議】</label>
                                </div>*@
                            <div class="col-12 col-md-auto">
                                <input type="radio" name="Status" value="false" id="CaseStatus-closed">
                                <label for="CaseStatus-closed" style="font-size: 14px;">關閉</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-md-auto">
                                <input type="radio" name="Status" value="true" id="CaseStatus-open">
                                <label for="CaseStatus-open" style="font-size: 14px;" class="d-inline">開啓</label>
                            </div>
                            @*<div class="col-12 col-md-auto">
                                    <input type="radio" name="Status" value="true" id="CaseStatus-openRestricted">
                                    <label for="CaseStatus-openRestricted" style="font-size: 14px;" class="d-inline">開啟，隱藏聯絡資訊【建議】</label>
                                </div>*@
                            <div class="col-12 col-md-auto">
                                <input type="radio" name="Status" value="false" id="CaseStatus-closed" checked>
                                <label for="CaseStatus-closed" style="font-size: 14px;">關閉</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="NickName" class="col-md-12 control-label">接案暱稱</label>
                <div class="col-md-12">
                    <input type="text" class="form-control text-box single-line" id="NickName" placeholder="tasker" name="NickName" value="@Model.NickName">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <p class="col-md-12 text-black font-weight-bold" for="Identity">接案身份</p>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 0)
                            {
                                <input type="radio" name="Identity" value="0" id="Identity-individual" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="0" id="Identity-individual">
                            }
                            <label for="Identity-individual" style="font-size: 14px;">個人兼職</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 1)
                            {
                                <input type="radio" name="Identity" value="1" id="Identity-soho" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="1" id="Identity-soho">
                            }
                            <label for="Identity-soho" style="font-size: 14px;">專職SOHO</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 2)
                            {
                                <input type="radio" name="Identity" value="2" id="Identity-workhouse" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="2" id="Identity-workhouse">
                            }
                            <label for="Identity-workhouse" style="font-size: 14px;">工作室</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 3)
                            {
                                <input type="radio" name="Identity" value="3" id="Identity-partime" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="3" id="Identity-partime">
                            }
                            <label for="Identity-partime" style="font-size: 14px;">兼職上班族</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 4)
                            {
                                <input type="radio" name="Identity" value="4" id="Identity-company" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="4" id="Identity-company">
                            }
                            <label for="Identity-company" style="font-size: 14px;">公司</label>
                        </div>
                        <div class="col-12 col-md-auto">
                            @if ((int)Model.Identity == 5)
                            {
                                <input type="radio" name="Identity" value="5" id="Identity-student" checked="checked">
                            }
                            else
                            {
                                <input type="radio" name="Identity" value="5" id="Identity-student">
                            }

                            <label for="Identity-student" style="font-size: 14px;">學生</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="job-location" class="col-md-12 control-label">居住地</label>
                <div class="col-md-6">
                    @Html.DropDownList("LiveCity", (List<SelectListItem>)ViewBag.LocationDropdownListForLiveCity, new { @class = "form-control", @name = "LiveCity" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="Cellphone" class="col-md-12 control-label">行動電話</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="Cellphone" placeholder="Product Designer" name="Cellphone" value="@Model.Cellphone">
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-md-12 control-label">Email</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="Email" placeholder="you@yourdomain.com" name="Email" value="@Model.Email">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="TalentCategoryID" class="col-md-12 control-label">擅長軟體工具</label>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-2">
                            @Html.DropDownList("ToolCategoryID", (List<SelectListItem>)ViewBag.ToolList, new { @class = "form-control" })
                            <div class="mt-3 toolCheckArea" id="toolCheckArea"></div>
                        </div>
                        <div class="col-12 col-lg-6 displayTool" id="displayTool">
                            @*還沒有display*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>理想接案條件</h5>
        <hr />
        <div class="form-group">
            <label for="LocationID" class="col-md-12 control-label">理想接案城市</label>
            <div class="col-md-6">
                @Html.DropDownList("LocationIDInt", (List<SelectListItem>)ViewBag.LocationDropdownList, new { @class = "form-control", @id = "toolDropdown" })
            </div>
        </div>
        <div class="form-group">
            <label for="SubCategoryID" class="col-md-12 control-label">理想接案類別</label>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        @Html.DropDownList("Catgeory", (List<SelectListItem>)ViewBag.IdealCaseCategoryList, new { @class = "form-control", @id = "categoryDropdown" })
                    </div>
                    <div class="col-6">
                        <select class="form-control" id="subcategorySelect" name="SubCategoryID">
                            <option class="text-center">選擇子類型</option>
                        </select>
                        @*@Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>接案經歷</h5>
        <hr />
        <div class="form-group">
            <label for="AllPieceworkExp" class="col-md-12 control-label">累計接案經驗</label>
            <div class="col-md-6">
                <select id="AllPieceworkExp" class="form-control" name="AllPieceworkExp">
                    <option value="無年工作經驗">無工作經驗</option>
                    <option value="0-1年工作經驗">0-1年工作經驗</option>
                    <option value="1-2年工作經驗">1-2年工作經驗</option>
                    <option value="2-3年工作經驗">2-3年工作經驗</option>
                    <option value="3-4年工作經驗">3-4年工作經驗</option>
                    <option value="4-5年工作經驗">4-5年工作經驗</option>
                    <option value="5-6年工作經驗">5-6年工作經驗</option>
                    <option value="6-7年工作經驗">6-7年工作經驗</option>
                    <option value="7-8年工作經驗">7-8年工作經驗</option>
                    <option value="8-9年工作經驗">8-9年工作經驗</option>
                    <option value="9-10年工作經驗">9-10年工作經驗</option>
                    <option value="10年以上工作經驗">10年以上工作經驗</option>
                </select>
            </div>
        </div>
        <hr />
        <label class="col-md-12 control-label text-black">接案經驗</label>
        <div id="ExDArea">
            <div class="col-md-12 my-2 ExDWrap" id="ExDWrap0">
                <p class="col-md-12 text-black mb-2">接案經驗細節</p>
                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 mt-2">
                                @Html.DropDownList("ExDCategoryID", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", @id = "ExDCategoryID0" })
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mt-2">
                                <select class="form-control" name="ExDSubCategoryID" id="ExDSubCategoryID0">
                                    <option class="text-center">選擇子類型</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mt-2">
                                <select class="form-control" name="ExDPieceworkExp">
                                    <option value="-1">請選擇工作期間</option>
                                    <option value="無年工作經驗">無工作經驗</option>
                                    <option value="0-1年工作經驗">0-1年工作經驗</option>
                                    <option value="1-2年工作經驗">1-2年工作經驗</option>
                                    <option value="2-3年工作經驗">2-3年工作經驗</option>
                                    <option value="3-4年工作經驗">3-4年工作經驗</option>
                                    <option value="4-5年工作經驗">4-5年工作經驗</option>
                                    <option value="5-6年工作經驗">5-6年工作經驗</option>
                                    <option value="6-7年工作經驗">6-7年工作經驗</option>
                                    <option value="7-8年工作經驗">7-8年工作經驗</option>
                                    <option value="8-9年工作經驗">8-9年工作經驗</option>
                                    <option value="9-10年工作經驗">9-10年工作經驗</option>
                                    <option value="10年以上工作經驗">10年以上工作經驗</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3 text-right">
            <span class="btn btn-light" id="addExD"><i class="fas fa-plus"></i>&ensp;新增接案經歷</span>
        </div>
    </div>
    <div class="myContainer mt-3">
        <h5>接案描述</h5>
        <hr />
        <div class="form-group">
            <div id="editor">
                <div>
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-12 text-center">
            <input value="儲存設定" class="btn btn-primary" id="send" />
        </div>
    </div>
    <input type="hidden" name="JsonToolList" id="JsonToolList">
    <input type="hidden" name="JsonExDList" id="JsonExDList">
    <input type="hidden" name="Description" id="Description" />
    <template id="toolCheckBox">
        <div class="form-check col-12">
            <input type="checkbox" name="talentTool" id="" class="form-check-input">&ensp;<label class="form-check-label mb-0"></label>
        </div>
    </template>
    <template id="toolCheckedTag">
        <div class="d-flex toolTag mb-2 justify-content-center">
            <p class="mb-0"></p> &ensp;
            <button class="mb-0 btn border-0 bg-transparent"><i class="fas fa-trash"></i></button>
        </div>
    </template>
    <template id="ExDTemplate">
        <div class="col-md-12 my-2 ExDWrap">
            <a class="btn removeExD"><i class="far fa-trash-alt"></i></a>
            <p class="col-md-12 text-black mb-2">接案經驗細節</p>
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            @Html.DropDownList("ExDCategoryID", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            <select class="form-control" name="ExDSubCategoryID">
                                <option class="text-center">選擇子類型</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mt-2">
                            <select class="form-control" name="ExDPieceworkExp">
                                <option value="-1">請選擇工作期間</option>
                                <option value="無年工作經驗">無工作經驗</option>
                                <option value="0-1年工作經驗">0-1年工作經驗</option>
                                <option value="1-2年工作經驗">1-2年工作經驗</option>
                                <option value="2-3年工作經驗">2-3年工作經驗</option>
                                <option value="3-4年工作經驗">3-4年工作經驗</option>
                                <option value="4-5年工作經驗">4-5年工作經驗</option>
                                <option value="5-6年工作經驗">5-6年工作經驗</option>
                                <option value="6-7年工作經驗">6-7年工作經驗</option>
                                <option value="7-8年工作經驗">7-8年工作經驗</option>
                                <option value="8-9年工作經驗">8-9年工作經驗</option>
                                <option value="9-10年工作經驗">9-10年工作經驗</option>
                                <option value="10年以上工作經驗">10年以上工作經驗</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
}
@section topCSS
    {
    <link href="~/Assets/css/quill.snow.css" rel="stylesheet" />
    <style>
        h5 {
            color: #89ba16;
            font-weight: 900;
            padding: 0 15px;
        }

            .myContainer {
                @*max-width: 510px;
                *@ margin: auto;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                padding: 25px;
            }

            label {
                font-weight: 700;
            }
        .toolCheckArea {
            border: dashed 1px #bebebe;
            border-radius:.25rem;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            padding:10px;
            max-height: 200px;
            overflow:auto;
        }
        label[for^='toolInput']{
            word-wrap:break-word;
        }
        .toolTag {
            padding: 3px;
            border: solid 1px #bebebe;
            border-radius: .25rem;
            display: inline;
        }
        .toolTag p{
            line-height:36px;
        }
            .toolTag button {
                color: #89ba16 !important;
            }
        #displayTool{
            max-height:254px;
            overflow:auto;
        }
        .ExDWrap {
            border: dashed 1px #bebebe;
            padding: 15px;
            border-radius: .25rem;
            position: relative;
        }

            .ExDWrap a {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
            }

                .ExDWrap a:hover {
                    cursor: pointer;
                }
                input#send{
                    cursor: pointer;
                }
        @@media screen and (min-width:768px){
            .toolCheckArea{
                margin-top:0px;
            }
        }

    </style>
}
@section endJS{
    <script src="~/Assets/js/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        //理想接案類別
        let selector = document.querySelector("#subcategorySelect");
        var subCategoryList = [];
        ////取得類別資料
        axios.get("/api/Talent/GetAllCategoryAndSubCategoryList").then(result => {
            let data = JSON.parse(result.data.Result);
            subCategoryList.push(...data);
            ////顯示已經儲存的資料
            let idealSubCateID = @Html.Raw(Json.Encode(ViewBag.IdealSubCategoryID)) != null ? @Html.Raw(Json.Encode(ViewBag.IdealSubCategoryID)) : -1;
            let idealCateID = @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) != null ? @Html.Raw(Json.Encode(ViewBag.IdealCategoryID)) : -1;
            if (idealSubCateID != -1) {
                selector.innerHTML = "<option class='text-center'>選擇子類型</option>";
                let theSubList = subCategoryList.filter(x => x.CategoryID == idealCateID)[0].JsonSubCategoryList;
                let allSub = JSON.parse(theSubList);
                allSub.forEach(s => {
                    let option = document.createElement("option");
                    option.innerText = s.SubCateName;
                    option.value = s.SubCateID;
                    if (idealSubCateID == s.SubCateID) { option.selected = true; }
                    selector.append(option);
                });
            }
        });


        //change轉換子類別
        document.querySelector("#categoryDropdown").addEventListener("change", function () {
            selector.innerHTML = "<option class='text-center'>選擇子類型</option>";
            let theSubList = subCategoryList.filter(x => x.CategoryID == this.value)[0].JsonSubCategoryList;
            let allSub = JSON.parse(theSubList);
            allSub.forEach(s => {
                let option = document.createElement("option");
                option.innerText = s.SubCateName;
                option.value = s.SubCateID;
                selector.append(option);
            });
        });

        //擅長工具Dropdown & checkbox
        let subToolArray = []
        let subToolArrayInRecord = []
        //擅長工具-取得所有類別
        axios.get("/api/Talent/GetSubTool").then(res => {
            let tools = JSON.parse(res.data.Result);
            subToolArray.push(...tools);
        });
        ////擅長工具-顯示既有資料
        axios.get("/Talent/GetMemberToolRecord").then(res => {
            let record = JSON.parse(res.data);
            subToolArrayInRecord.push(...record);
            subToolArrayInRecord.forEach(tRecord => {
                console.log(tRecord)
                subToolArray.forEach(t => {
                    if (t.SubTalentCategoryID == tRecord.ToolSubCategoryID) {
                        t.IsChecked = true;
                        clone_tag = $g("template#toolCheckedTag").content.cloneNode(true);
                        clone_tag.querySelector("p").innerText = t.SubTalentCategoryName;
                        clone_tag.querySelector("div").setAttribute("id", `toolTag${t.SubTalentCategoryID}`);
                        clone_tag.querySelector("div").setAttribute("data-content", t.SubTalentCategoryID);
                        clone_tag.querySelector("button").setAttribute("data-content", t.SubTalentCategoryID);
                        clone_tag.querySelector("button").addEventListener("click", function (e) {
                            e.preventDefault();
                            let value = t.SubTalentCategoryID;
                            let theTag = $g(`div#toolTag${value}`);
                            $g("#displayTool").removeChild(theTag);
                            $g(`input#toolInput${value}`).checked = false;
                            subToolArray[value]["IsChecked"] = false;
                        });
                        $g("#displayTool").appendChild(clone_tag);
                    }
                });

            });


        });
        ////擅長工具-使用者選擇更換
        $g("select#ToolCategoryID").addEventListener("change", function () {
            let cateID = Number(this.value);
            $g("#toolCheckArea").innerHTML = "";
            subToolArray.forEach(subTool => {
                if (subTool.TalentCategoryID == cateID) {
                    let clone_checkbox = $g("template#toolCheckBox").content.cloneNode(true);
                    clone_checkbox.querySelector("label").innerText = subTool.SubTalentCategoryName;
                    clone_checkbox.querySelector("label").setAttribute("for", `toolInput${subTool.SubTalentCategoryID}`)
                    clone_checkbox.querySelector("input").value = subTool.SubTalentCategoryID;
                    clone_checkbox.querySelector("input").setAttribute("id", `toolInput${subTool.SubTalentCategoryID}`);
                    clone_checkbox.querySelector("input").setAttribute("data-content", subTool.SubTalentCategoryName);
                    clone_checkbox.querySelector("input").checked = subTool.IsChecked;
                    clone_checkbox.querySelector("input").addEventListener("change", function (e) {
                        //let element = e.target;
                        if (e.target.checked) {
                            clone_tag = $g("template#toolCheckedTag").content.cloneNode(true);
                            clone_tag.querySelector("p").innerText = this.dataset.content;
                            clone_tag.querySelector("div").setAttribute("id", `toolTag${this.value}`);
                            clone_tag.querySelector("div").setAttribute("data-content", this.value);
                            clone_tag.querySelector("button").setAttribute("data-content", this.value);
                            clone_tag.querySelector("button").addEventListener("click", function (e) {
                                e.preventDefault();
                                let value = this.dataset.content;
                                let theTag = $g(`div#toolTag${value}`);
                                $g("#displayTool").removeChild(theTag);
                                $g(`input#toolInput${value}`).checked = false;
                                subToolArray[value]["IsChecked"] = false;
                            });
                            $g("#displayTool").appendChild(clone_tag);
                            subToolArray[this.value]["IsChecked"] = true;
                        } else {
                            let theTag = $g(`div#toolTag${this.value}`);
                            $g("#displayTool").removeChild(theTag);
                            subToolArray[this.value]["IsChecked"] = false;
                        }
                    });
                    document.querySelector("#toolCheckArea").appendChild(clone_checkbox);
                }
            });

        });
        //顯示接案經驗


        //接案經歷類別轉換
        let ExDSubSelector = $g("select#ExDSubCategoryID0");
        document.querySelector("select#ExDCategoryID0").addEventListener("change", function () {
            ExDSubSelector.innerHTML = "<option class='text-center'>選擇子類型</option>";
            subCategoryList.forEach(sub => {
                if (sub.CategoryID == this.value) {
                    let allsub = JSON.parse(sub.JsonSubCategoryList);
                    allsub.forEach(s => {
                        let option = document.createElement("option");
                        option.innerText = s.SubCateName;
                        option.value = s.SubCateID;
                        ExDSubSelector.append(option);
                    });
                };
            });
        });

        //新增接案經歷
        let ExDCount = 1;
        $g("span#addExD").addEventListener("click", function () {
            clone_ExD = $g("template#ExDTemplate").content.cloneNode(true);
            clone_ExD.querySelector("div.ExDWrap").setAttribute("id", `ExDWrap${ExDCount}`);
            clone_ExD.querySelector("select[name='ExDSubCategoryID']").setAttribute("id", `ExDSubCategoryID${ExDCount}`);
            clone_ExD.querySelector("select[name='ExDCategoryID']").setAttribute("id", `ExDCategoryID${ExDCount}`);
            let subSelector = clone_ExD.querySelector(`select#ExDSubCategoryID${ExDCount}`);
            clone_ExD.querySelector(`select#ExDCategoryID${ExDCount}`).addEventListener("change", function () {
                subSelector.innerHTML = "<option class='text-center'>選擇子類型</option>";
                subCategoryList.forEach(sub => {
                    if (sub.CategoryID == this.value) {
                        let allsub = JSON.parse(sub.JsonSubCategoryList);
                        allsub.forEach(s => {
                            let option = document.createElement("option");
                            option.innerText = s.SubCateName;
                            option.value = s.SubCateID;
                            subSelector.append(option);
                        });
                    };
                });
            });
            //clone_ExD.querySelector("p").innerText = `接案經驗細節${ExDCount + 1}`;
            clone_ExD.querySelector("a").setAttribute("data-count", ExDCount);
            clone_ExD.querySelector("a").addEventListener("click", function () {
                let theExD = $g(`div#ExDWrap${this.dataset.count}`);
                $g("div#ExDArea").removeChild(theExD);
            });
            $g("div#ExDArea").appendChild(clone_ExD);
            ExDCount++;
        });

        //quill 富文本編輯器
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
        $g('.ql-toolbar.ql-snow').style.setProperty('border-radius', '.25rem .25rem 0 0');
        $g('#editor').style.setProperty('border-radius', '0 0 .25rem .25rem');
        $g('#editor').style.setProperty('min-height', '200px');


        //送出表單 Submit form
        $g("input#send").addEventListener("click", function (e) {
            e.preventDefault();
            //取得當前表單
            const form = $g("form[action='/Talent/CaseSetting']");
            const formD = new FormData(form);

            //取得擅長軟體
            let tools = subToolArray.filter(x => x.IsChecked == true);
            let toolArray = [];
            tools.forEach(t => {
                let obj = new Object();
                obj.ToolSubCategoryID = t.SubTalentCategoryID;
                //obj.ToolSubCategoryName = t.SubTalentCategoryName;
                obj.ToolCategoryID = t.TalentCategoryID;
                toolArray.push(obj);
            });
            console.log(toolArray)
            $g("input#JsonToolList").value = JSON.stringify(toolArray);

            //取得接案經歷
            let ExDSubId = $g("select[name='ExDSubCategoryID']");
            let ExDPieceworkExp = $g("select[name='ExDPieceworkExp']");
            let ExDArray = [];
            let len = ExDSubId.length >= ExDPieceworkExp.length ? ExDPieceworkExp.length : ExDSubId.length;
            for (let i = 0; i < len; i++) {
                if ((Number(ExDSubId[i].value) != "-1") && (ExDPieceworkExp[i].value != "-1")) {
                    let obj = new Object();
                    obj.SubCategoryID = Number(ExDSubId[i].value);
                    obj.PieceworkExp = ExDPieceworkExp[i].value;
                    ExDArray.push(obj);
                }
                
            }
            console.log(ExDArray);
            $g("input#JsonExDList").value = JSON.stringify(ExDArray);

            //取得Description
            $g("input#Description").value = $g("div.ql-editor").innerHTML;
            document.querySelector("form[action='/Talent/CaseSetting']").submit();

        });
        function $g(element) {
            let temp = document.querySelectorAll(element);
            return temp.length == 1 ? temp[0] : temp;
        }

    </script>

}

