@model List<QuotationDetailViewModel>
@{
    ViewBag.Title = "我的服務";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

<div class="myContainer">
    <h4>我的服務</h4>
    <hr />
    <div class="container">
        <div class="row">
            @if (Model.Count == 0)
            {
                <h5 class="text-danger">暫無服務</h5>
            }
            @foreach (var item in Model)
            {
                <div class=" col-12 col-md-6 mt-3">
                    <div class="card">
                        <div class="img-wrap w-100 h-100">
                            <img src="@item.MainPicture" class="card-img-top main-picture" alt="">
                        </div>
                        <div class="card-body p-3">
                            <h5 class="card-title text-center">@item.QuotationTitle</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">類別：<a href="/Quotation/Index?CategoryId=@item.CategoryId">@item.SubcategoryName</a></li>
                            <li class="list-group-item">服務定價：@item.Price 元&ensp;/ @item.Unit</li>
                            <li class="list-group-item">更新日期：@item.UpdateDate</li>
                            <li class="list-group-item" class="d-flex  service-status">
                                <div class="container">
                                    <div class="row">
                                        @if (item.Status)
                                        {
                                            <div class="col-md-12 col-lg-4 control-label service-status-label p-0">服務狀態：</div>
                                            <select class="form-control col-md-12 col-lg-8 service-status-selector selector-open" data-content="@item.QuotationId">
                                                <option class="status-open selector-open" value="true" selected>開啓</option>
                                                <option class="status-close selector-close" value="false">關閉</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <div class="col-md-12 col-lg-4 control-label service-status-label p-0">服務狀態：</div>
                                            <select class="form-control col-md-12 col-lg-8 service-status-selector selector-close" data-content="@item.QuotationId">
                                                <option class="status-open selector-open" value="true">開啓</option>
                                                <option class="status-close selector-close" value="false" selected>關閉</option>
                                            </select>
                                        }

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="card-body text-right">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 text-center my-1">
                                        <a href="/Talent/UpdateMyQuotation/@item.QuotationId" class="btn btn-primary my-btn">修改服務</a>
                                    </div>
                                    <div class="col-12 text-center my-1">
                                        <a href="/Talent/UpdateTime/@item.QuotationId" class="btn btn-warning my-btn">更新排序</a>
                                    </div>
                                    <div class="col-12 text-center my-1">
                                        <a href="/Talent/DeleteQuotation/@item.QuotationId" class="btn btn-danger my-btn">刪除服務</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section TopCss
    {
    <style>
        h4 {
            color: #89ba16;
            font-weight: 900;
            padding: 0 15px;
        }h5 {
            color: #89ba16;
            font-weight: 900;
            padding: 0px 15px;
            /*line-height:100%;*/
            margin: 0px !important;
        }
        .myContainer {
            @*max-width: 510px;
            *@ margin: auto;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            padding: 25px;
        }
        .service-status-label{
            line-height:40px;
        }
        .status-open {
            color: #89ba16;
        }
        .status-close{
            color:#DC3545;
        }
        .selector-open {
            color: #89ba16;
        }
        .selector-close {
            color: #DC3545;
        }
        .img-wrap {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            border-bottom: 1px solid #f5f5f5;
            overflow: hidden;
            object-fit: contain;
            background-color:#f5f5f5;
        }
        .img-wrap img{
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            margin:auto;
        }
        .my-btn {
            width: 95%;
            padding: 0.2rem 0.75rem !important;
        }
    </style>
}
@section endJS
    {
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            let service_selector = document.querySelectorAll(".service-status-selector");
            service_selector.forEach(ss => {
                ss.addEventListener("change", function () {
                    console.log("in event");
                    if (this.value == "true") {
                        try {
                            this.classList.remove("selector-close");
                            this.classList.add("selector-open");
                        }
                        catch {
                            this.classList.add("selector-open");
                        } finally {
                            postNewStatus(Number(this.getAttribute("data-content")), true);
                            console.log(this.getAttribute("data-content"))
                        }
                        
                    } else if(this.value == "false"){
                        try {
                            this.classList.remove("selector-open");
                            this.classList.add("selector-close");
                        }
                        catch {
                            this.classList.add("selector-close");
                        }
                        finally {
                            postNewStatus(Number(this.getAttribute("data-content")), false);
                            this.getAttribute("data-content")
                        }
                    }
                });
            })

            function postNewStatus(id, TF) {
                let newStatus = { QuotationId: id, Status: TF};
                fetch('/api/Talent/ChangeQuotationStatus', { method: 'post', headers: { "Content-Type": "application/json" }, body: JSON.stringify(newStatus) }).then(res => console.log(res));
            }
            
        </script>
    }

