@{
    ViewBag.Title = "Home Page";

    @model IEnumerable<PRO_finder.ViewModels.CategoryViewModel>
}

        <!-- next start -->
<section class="py-5 bg-image overlay-primary fixed overlay" id="next"
         style="background-image: url('@Url.Content("~/Assets/Images/hero_1.jpg")')";>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title mb-5 text-white">50萬專業人才 幫您解決外包難題</h2>
            </div>
            @foreach (var category in Model) {
                <div class="col-xl-4 col-lg-4 col-6">
                    <div class="item d-flex">
                        
                        
                        @foreach(var i in category.Icon)
                        {
                          <i class="@i.Info"></i>
                        }


                      
                        
                        <div class="item-text">
                            <div class="d-block d-md-flex  justify-content-between align-items-center">
                                <h5>@category.CategoryName</h5>
                                <p class="d-block pr-1"><span class="people_count">999</span>位人才</p>
                            </div>
                            <p class="d-none d-md-block">
                                @foreach (var subcategory in category.subCategories)
                                {
                                    <span>@subcategory.SubCategoryName、</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</section>

        <!-- next end -->
        <!-- site start -->
        <section class="site-section">
            <div class="container">

                <div class="row mb-5 justify-content-center">
                    <div class="col-md-12 text-center">
                        <div class="title d-flex justify-content-between ">
                            <h2 class="section-title mb-2">精選成交作品</h2><a class="d-flex align-items-end" href="#">看更多作品 → </a>
                        </div>
                    </div>
                </div>


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class=" col-6 col-md-8">
                                    <div class="row">
                                        <div class="col-md-3  d-none d-md-flex flex-column justify-content-between">
                                            <img class="w-100  " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100  " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100  " src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                        <div class="col-md-9 col-12" style="overflow: hidden;">
                                            <img class="h-100 site_pic" src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 d-flex align-items-center">
                                    <div class="site-text">
                                        <a href="#">#12</a>
                                        <a href="#">#12</a>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur recusandae deleniti, magni
                                            veritatis dolor velit
                                        </p>
                                        <div class="site-show d-flex justify-content-between">
                                            <a href="#">by <span>帥哥</span> </a>
                                            <button class="border btn">更多作品</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class=" col-6 col-md-8">
                                    <div class="row">
                                        <div class="col-md-3 d-md-flex d-none flex-column justify-content-between">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                        <div class="col-md-9">
                                            <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-6 col-md-4 d-flex align-items-center">
                                    <div class="site-text">
                                        <a href="#">#12</a>
                                        <a href="#">#12</a>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur recusandae deleniti, magni
                                            veritatis dolor velit
                                        </p>
                                        <div class="site-show d-flex justify-content-between">
                                            <a href="#">by <span>帥哥</span> </a>
                                            <button class="border btn">更多作品</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-6 col-md-8">
                                    <div class="row">
                                        <div class="col-md-3 d-md-flex d-none flex-column justify-content-between">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                            <img class="w-100 " src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                        <div class="col-md-9">
                                            <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 d-flex align-items-center">
                                    <div class="site-text">
                                        <a href="#">#12</a>
                                        <a href="#">#12</a>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur recusandae deleniti, magni
                                            veritatis dolor velit
                                        </p>
                                        <div class="site-show d-flex justify-content-between">
                                            <a href="#">by <span>帥哥</span></a>
                                            <button class="border btn">更多作品</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- site end -->

        <section class="py-5 bg-image overlay-primary fixed overlay"  style="background-image: url('@Url.Content("~/Assets/Images/hero_1.jpg")')";>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h2 class="text-white">Looking For A Job?</h2>
                        <p class="mb-0 text-white lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci
                            impedit.
                        </p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="site-section py-4 mb-5">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-12 text-center mt-4 mb-5">
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <h2 class="section-title mb-2">發案3步驟 立即解決您的難題</h2>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <div class="box d-flex justify-content-center " data-aos="zoom-in" data-aos-delay="100">
                                    <img src="https://s1.tasker.com.tw/img/illustrate/post_case.svg" alt="">
                                    <div class="text d-flex flex-column justify-content-end">
                                        <h4 class="m-0">步驟1.免費發案</h4>
                                        <p class="m-1">填寫幾個簡單的問題，我們幫您梳理需求。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-5 ">
                                <div class="box d-flex justify-content-center " data-aos="zoom-in" data-aos-delay="100">
                                    <img src="https://s1.tasker.com.tw/img/illustrate/join_quotes.svg" alt="">
                                    <div class="text d-flex flex-column justify-content-end">
                                        <h4 class="m-0">步驟2.人才報價</h4>
                                        <p class="m-1">人才依照您的需求，主動提供預算與工時。</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 ">
                                <div class="box d-flex justify-content-center " data-aos="zoom-in" data-aos-delay="100">
                                    <img src="https://s1.tasker.com.tw/img/illustrate/join_deal.svg" alt="">
                                    <div class="text d-flex flex-column justify-content-end">
                                        <h4 class="m-0">步驟3.出任務囉</h4>
                                        <p class="m-1">選定人才，雙方簽訂合約並依約交辦付款！</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6  text-center border-left">
                        <div class="aaa">
                            <div id="slides" class="carousel slide carousel-vertical" data-ride="carousel">


                                <div class="carousel-inner ">
                                    <div class="carousel-item active">
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                        <div class="end">
                                            <h3><span>已成交</span> 安安安安<span>$999</span></h3>
                                            <p>3小時前新報價</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="bg-light pt-5 testimony-full">

            <div class="owl-carousel single-carousel">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center text-center text-lg-left">
                            <blockquote>
                                <p>
                                    &ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores
                                    repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;
                                </p>
                                <p><cite> &mdash; Corey Woods, @@Dribbble</cite></p>
                            </blockquote>
                        </div>
                        <div class="col-lg-6 align-self-end text-center text-lg-right">
                            <img src="images/person_transparent_2.png" alt="Image" class="img-fluid mb-0">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center text-center text-lg-left">
                            <blockquote>
                                <p>
                                    &ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores
                                    repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;
                                </p>
                                <p><cite> &mdash; Chris Peters, @@Google</cite></p>
                            </blockquote>
                        </div>
                        <div class="col-lg-6 align-self-end text-center text-lg-right">
                            <img src="images/person_transparent.png" alt="Image" class="img-fluid mb-0">
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="pt-5 bg-image overlay-primary fixed overlay"  style="background-image: url('@Url.Content("~/Assets/Images/hero_1.jpg")')";>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
                        <h2 class="text-white">Get The Mobile Apps</h2>
                        <p class="mb-5 lead text-white">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci
                            impedit.
                        </p>
                        <p class="mb-0">
                            <a href="#" class="btn btn-dark btn-md px-4 border-width-2">
                                <span class="icon-apple mr-3"></span>App
                                Store
                            </a>
                            <a href="#" class="btn btn-dark btn-md px-4 border-width-2">
                                <span class="icon-android mr-3"></span>Play
                                Store
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6 ml-auto align-self-end">
                        <img src="images/apps.png" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        

    
    <!-- SCRIPTS -->
    @section endJS{
        <script>
            $('.carousel-vertical').carousel({
                interval: 2000
            })
        </script>
    }

    @section topCSS{
        <style>
            /* #next start */
            #next .item {
                border: 1px solid white;
                overflow: hidden;
                background-color: white;
                margin-bottom: 30px;
                transition: .3s;
            }

                #next .item img {
                    width: 20%;
                }
            #next .item-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
           
            #next .item-text h5 {
                font-size: 16px;
                font-weight: 800;
                padding: 5px;
                margin-bottom: 0px;
                transition: .1s;
            }

            #next .item-text p {
                padding: 0 5px;
                font-size: 4px;
                margin-bottom: 0px;
            }
                #next .item-text .people_count {
                    color: #89ba16;
                    font-weight: 800;
                }

            #next .people {
                color: #89ba16;
                font-weight: 800;
            }
            #next .item i {
                font-size: 30px;
                padding: 10px 20px;
                color: #89ba16;
                background-color: rgba(137,186,22,.3);
                line-height: 1.5;
            }
            #next .item:hover {
                transform: scale(1.05);
            }

            #next .item .item-text h5:hover {
                color: #89ba16;
                cursor: pointer;
            }

            #next .item-text span:hover {
                color: purple;
                font-weight: 600;
                cursor: pointer;
            }
            /* #next end */

            /*  site start */
            .site-section .carousel-indicators .active {
                background-color: #89ba16;
            }

            .site-section .carousel-indicators li {
                background-color: #666861;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 0 5px;
            }

            .site-section .carousel-indicators {
                bottom: -50px;
            }

            /*  site end */

            /* 幻燈片 直向 */
            .carousel-fade .carousel-inner .carousel-item {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                transition-property: opacity;
            }

            .carousel-vertical .carousel-inner .carousel-item-next.carousel-item-left,
            .carousel-vertical .carousel-inner .carousel-item-prev.carousel-item-right {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .carousel-vertical .carousel-inner .active.carousel-item-left,
            .carousel-vertical .carousel-inner .carousel-item-prev {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
            }

            .carousel-vertical .carousel-inner .active.carousel-item-right,
            .carousel-vertical .carousel-inner .carousel-item-next {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
            }
        </style>
        }

