@using PRO_finder.Controllers
@{
    MyControllerBase controller = ViewContext.Controller as MyControllerBase;
    if (controller == null)
    {
        throw new ApplicationException("Controller 必須繼承自 MyControllerBase.");
    }
    var userId = controller.memberID;
    
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    @Styles.Render("~/bundles/css")

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    <style>

        .container-fluid.list {
            background-color: #89ba16 !important;
        }

        .btn-area {
            line-height: .2 !important;
            height: 2.5rem !important;
        }

        #search_text, #search_type {
            line-height: .2;
            border: none;
        }

        #search_text {
            border: 1px solid rgba(0,0,0,.1);
        }

        #search_form {
        }

        .CartListindex {
            background: radial-gradient(circle at center,#cff576,#89ba16);
            position: fixed;
            top: 80%;
            bottom: 0;
            left: 90%;
            right: 0;
            margin: auto;
            z-index: 30;
            width: 60px;
            height: 60px;
            font-weight: 400;
            line-height: 1;
            box-shadow: 3px 3px 5px rgba(0,0,0,.3);
            transition: .3s;
        }

            .CartListindex a {
                color: white;
                position: absolute;
                top: 30%;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                text-decoration: none;
                font-size: 25px;
            }

            .CartListindex:hover {
                transform: scale(1.1);
            }
        .CartCount {
            font-size:15px;
            line-height:1;
            width: 15px;
            height: 15px;
            position: relative;
            top: -80%;
            right: -80%;
            background-color: red;
        }
    </style>
</head>

<body id="top">
    <div class="CartList CartListindex rounded-circle text-center"><a href="@Url.Action("CartList","Cart")" class="px-0"><i class="fas fa-inbox"></i><p class="CartCount rounded-circle"></p></a></div>
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        @Html.Partial("_NavbarPartial")


        @RenderBody()

        <footer class="site-footer">
            @Html.Partial("_FooterPartial")
        </footer>

    </div>
    <script>

        let CartCount = document.querySelector('.CartCount')



        if (@userId== -1) {
            CartCount.classList.add('d-none');
        }
        else {
          axios.get(`/api/Cart/GetCart?id=@userId`).then(res => {
            let counts = res.data.Result.length
              if (counts == 0) {
                  CartCount.classList.add('d-none');
              }
              else {
                  CartCount.innerHTML = counts
              }
           

        })

}




    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
