<header class="site-navbar ">
    <div class="container-fluid d-none d-xl-block bg-light">
        <div class="row justify-content-end py-0">
            @*<p class="m-0">您好，歡迎來到 Tasker出任務！ [<a href="">登入</a>] [<a href="">註冊</a>]</p>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container-fluid bg-white d-none d-xl-block">
        <div class="row py-1">
            <div class="col-4 ">

            </div>
            <div class="col-8  btn-area text-right p-0">
                <form class="d-inline-block" id="search_form" autocomplete="off" method="post">
                    <div class="mainInputextbox d-inline-block">
                        <p>
                            <input type="text" name="contain" id="search_text" maxlength="100" placeholder="請輸入關鍵字" class="textfield" value="@TempData["Contain"]">
                        </p>
                    </div>
                    <p class="searchTypeSelect  d-inline-block">
                        <select name="type" id="search_type">
                            <option value="找報價">找報價</option>
                            <option value="找案子">找案子</option>
                        </select>
                    </p>
                    <button type="submit" class=" btn border-right px-2"><i class="icon fas fa-search mr-2"></i>搜尋</button>
                </form>
                <a href="" class="border-right px-2"><i class="icon far fa-question-circle mr-2 "></i>如何接案</a>
                <a href="" class="border-right px-2"><i class="icon fas fa-pencil-alt mr-2 "></i>如何接案</a>
                <button class="btn bg-success text-light">立即發案</button>
            </div>
        </div>
    </div>


    <div class="container-fluid list">
        <div class="row ">
            <div class="col-6">
                <nav class="site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block pl-0 py-0">
                        <li class="HomeIndex"><a class="py-0" href="@Url.Action("Index","Home")"><i class="fas fa-home mr-2"></i>首頁</a></li>
                        <li class="d-xl-none"><a href="@Url.Action("Login","Account")"><i class="fas fa-user mr-2"></i>登入/註冊</a></li>
                        <li class="d-xl-none"><a href="#"><i class="fas fa-comment-dots mr-2"></i>我的詢問</a></li>
                        <li class="d-xl-none imTalent">我是人才:</li>
                        <li class="FindQuotation"><a href="@Url.Action("Index","FindQuotation")" class="py-0"><i class="far fa-file-word mr-2"></i>我要接案</a></li>
                        <li class="d-xl-none"><a href="#"><i class="icon far fa-question-circle mr-2"></i>如何接案</a></li>
                        <li class="d-xl-none imTalent">我是案主:</li>
                        <li class="d-xl-none"><a href="#"><i class="icon fas fa-pencil-alt mr-2"></i>立即發案</a></li>
                        <li class="d-xl-none"><a href="#"><i class="icon far fa-question-circle mr-2"></i>如何發案</a></li>
                        <li class="has-children">
                            <a href="#" class="py-0"><i class=" fas fa-search-dollar mr-2"></i>找報價</a>
                            <ul class="dropdown">
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=0">平面設計</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=1">網頁設計</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=2">程式開發</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=3">翻譯寫作</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=4">商攝娛樂</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=5">影像製作</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=6">空間設計</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=7">生活服務</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=8">活動企劃</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=9">專業顧問</a></li>
                                <li class="py-1"><a href="/Quotation/Index?CategoryId=10">資訊工程</a></li>
                            </ul>
                        </li>
                        <li class="d-xl-none imTalent">　</li>
                        <li class="d-xl-none"><a href="#"><i class="fas fa-question-circle mr-2"></i>我有建議</a></li>
                    </ul>
                </nav>
            </div>




            <div class=" text-right  col-6">
                <nav class="site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block py-0">
                        <li><a href="@Url.Action("Index","Talent")" class="px-0"><i class="fas fa-user mr-2"></i>我的帳戶</a></li>
                        <li><a href="@Url.Action("CartList","Cart")" class="px-0"><i class="fas fa-inbox  mr-2"></i>感興趣</a></li>
                    </ul>
                    
                       
                    
                </nav>

                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">
                    <span class="icon-menu h3 m-0 p-0 mt-2"></span>
                </a>
            </div>
        </div>
    </div>
</header>
@section topCSS{
    <style>
      
    </style>
}

@section endJS{
    <script>

    </script>
} 