@model PRO_finder.Models.ViewModels.CaseDetailViewModel
@{
    ViewBag.Title = "Detail";
    ViewBag.caseID = @Model.CaseId;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="fb-root"></div>
    <section class="site-section">
        <div class="container ">
            <div class="breadcrumbs">
                <a href="@Url.Action("Index","Home")" class="text-secondary">首頁</a> >
                <a href="@Url.Action("Index","FindQuotation")" class="text-secondary">我要接案</a> >
                <a href="@Url.Action("Index",new { id = Model.CategoryID} )"><span><strong class="text-primary">@Model.SubCategoryName </strong></span></a>>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-lg-8 mb-4 mb-lg-0 ">

                    <div class="mb-2 mt-4 text-left">
                        <span class="ml-0 mr-2 mb-2"><span class="icon-line-clipboard mr-2"></span>案件編號 : </span><span>@Model.CaseId</span>
                        <span class="m-2"><span class="icon-room mr-2"></span>@Model.LocationName</span>
                        <span class="m-2"><span class="icon-clock-o mr-2"></span>@Model.Type</span>
                    </div>
                    <h2>@Model.title
                    
                    </h2>


                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <button id="btnSaveCase" href="#" class="btn btn-block btn-light btn-md border">
                                <span id="farHeart" class="far fa-heart mr-2 text-danger"></span>收藏
                            </button>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-block btn-light btn-md border">
                                <span class="fas fa-info-circle text-secondary mr-2"></span>檢舉
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-8">
                    <div class="mb-4 row pl-3">
                        <h3 class="h5 d-flex align-items-center mb-1 mr-3 text-primary">
                            <span class="fas fa-caret-right mr-2"></span>預算金額
                        </h3>
                        <span class="text-black">@Model.Price</span>
                    </div>

                    <div class="mb-4 row pl-3">
                        <h3 class="h5 d-flex align-items-center mb-1 mr-3 text-primary">
                            <span class="fas fa-caret-right mr-2"></span>執行地點
                        </h3><span class="text-black">@Model.LocationName</span>
                    </div>

                    <div class="mb-4 row pl-3">
                        <h3 class="h5 d-flex align-items-center mb-1 mr-3 text-primary">
                            <span class="fas fa-caret-right mr-2"></span>預計完成日
                        </h3>
                        <span class="text-black">@Model.CompleteDate 天內</span>
                    </div>

                    <div class="mb-5 ">

                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                            <span class="fas fa-caret-right mr-2"></span>案件說明
                        </h3>
                        <p class="text-black">
                            @Model.Description
                        </p>

                    </div>

                    <div id="IWantThisCase" class="row mb-5 justify-content-center">
                        <div class="col-12">
                            <p class="bg-light p-3 text-black">
                                ※提醒：<br>1.聯繫時請務必先說明您是Tasker出任務會員，謝謝。<br>
                                2.接案如需赴約請注意安全，若遇行為不軌，請立即離開，並向執法單位備案。
                            </p>
                        </div>
                        <div class="col-4">
                            @*<a href="#" class="btn btn-block btn-primary btn-md mt-2 ">我要報價</a>*@
                            @Html.Partial("_QuotationforCasePartial")
                        </div>
                    </div>

                    <div class="othercaseMore">
                        <div class="mb-4">
                            <p class="h4 text-black">您可能感興趣的案件</p>
                        </div>
                        <div id="item_zone" class="list row mb-3 "></div>
                        <template id="templateCard">
                            <div class="col-4 d-md-block mb-4 ">
                                <div class="border rounded  pl-2 pr-2 p-1">
                                    <a class="case-a">
                                        <div class="d-flex justify-content-between  mb-2">
                                            <span class="case-price   text-black"></span>
                                            <span class="case-location "></span>
                                        </div>
                                        <span class="case-title"></span>
                                    </a>
                                </div>
                            </div>
                        </template>

                        <div id="othercaseMore" class="row  justify-content-center">
                            <a href="@Url.Action("Index",new { id=Model.CategoryID})" class="border rounded ">看更多</a>
                        </div>
                    </div>
                    <div class="mt-4 mb-3">
                        <p class=" h4 text-black">報價會員</p>
                        <!-- 缺小頭貼 -->
                        <p class=" text-black">2人參與報價</p>
                    </div>





                </div>
                <div class="col-lg-4">
                    <div class=" p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">案主資訊</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2 text-black">
                                <p class="text-black">
                                    <span class="far fa-user-circle mr-2"></span>稱呼
                                    : @Model.Contact
                                </p> 
                            </li>
                            <li class="mb-2 text-black">
                                <p class="text-black">
                                    <span class="far fa-calendar-check mr-2"></span>聯絡時段 : @Model.ContactTime
                                </p> 
                            </li>
                            <li class="mb-2 text-info">
                                <p class="text-black">
                                    <span class="fas fa-mobile-alt mr-2"></span>手機
                                    : @Model.LocalCallsCode
                                </p> 
                            </li>
                            <li class="mb-2 text-info">
                                <p class="text-black">
                                    <span class="fas fa-phone mr-2"></span>市話
                                    : @Model.LocalCalls
                                </p> 
                            </li>
                            <li class="mb-2 text-info">
                                <p class="text-black">
                                    <span class="fas fa-envelope mr-2"></span>E-mail
                                    : @Model.ContactEmail
                                </p>
                            </li>
                            <li class="mb-2 text-info">
                                <p class="text-black">
                                    <span class="far fa-star mr-2"></span>Line ID
                                    : @Model.LineID
                                </p> 
                            </li>
                        </ul>

                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">案主積極度</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2 text-black">
                                <span class="far fa-star mr-2"></span><span class="far fa-star mr-2"></span><span class="far fa-star mr-2"></span><span class="far fa-star mr-2"></span><span class="far fa-star mr-2"></span>
                                <span class="text-black">高</span>
                            </li>
                            <li class="mb-2 text-black">
                                <span class="text-black">
                                    已讀取報價
                                    :
                                </span> 73封(97%)
                            </li>
                            <li class="mb-2 text-black">
                                <span class="text-black">已回覆問答 :</span> 0封(0%)
                            </li>
                            <li class="mb-2 text-black">
                                <span class="text-black">
                                    已邀請報價
                                    :
                                </span> 1人
                            </li>
                            <li class="mb-2 text-black">
                                <span class="text-black">
                                    最後上線時間
                                    :
                                </span> 6天前
                            </li>

                        </ul>
                    </div>

                    <div class=" p-3 border rounded">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">分享</h3>

                        <div class="px-4 row">
                            <div class="fb-share-button mr-3 " data-href="https://www.tasker.com.tw/case/detail/VeZDz" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44375%2FFindQuotation%2FDetail&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
                            <div class="line-it-button " data-lang="zh_Hant" data-type="share-a" data-ver="3" data-url="https://www.tasker.com.tw/case/detail/VeZDz" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<section class="pb-lg-5">
</section>

@section topCSS
{
    <style>
        .breadcrumbs{
            margin-top:-2% ;
            font-size:large
        }

        .list :hover {
            cursor: pointer;
        }


        .case-title {
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
        }

        #item_zone a {
            text-decoration: none;
        }

        #othercaseMore a {
            padding: 3px 0;
            text-decoration: none;
            width: 15%;
            height: 30%;
            line-height: 30px;
            display: inline-block;
            border: 1px solid #89ba16;
            text-align: center;
            background: #89ba16;
            border-color: #89ba16;
            color: #fff;
        }

            #othercaseMore a:hover {
                background: #90c317;
                color: #fff;
                border-color: #90c317;
            }

        .line-it-button{
            display:block
        }

        @@media screen and (max-width: 991.98px) {
            .othercaseMore {
                display: none
            }

            #IWantThisCase .btn {
                width: 100%;
                height: 80%;
                white-space: nowrap;
                width: 100%;
                text-overflow: ellipsis;
                padding: 5px 8px 4px 8px;
            }
        }
    </style>
}

@section endJS
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        let card = document.querySelector('#templateCard');
        let otherCase =[]

            axios.get(`/FindQuotation/Othercase?CateId=@Model.CategoryID`).then(res => {
                otherCase = res.data.filter(x => x.CategoryID ==@Model.CategoryID).slice(0,6)

                addcase();
            })




        function addcase() {
            otherCase.forEach(function (item, index) {

                    let cloneContent = card.content.cloneNode(true);
                    cloneContent.querySelector('.case-price').innerText = changePrice(item.Price);
                    cloneContent.querySelector('.case-location').innerHTML = ` <i class="fas fa-map-marker-alt mr-1"></i>${item.LocationName}`;
                    cloneContent.querySelector('.case-title').innerText = item.title
                    cloneContent.querySelector('.case-a').href = `/FindQuotation/Detail?id=${item.CaseId}`
                    document.querySelector('#item_zone').append(cloneContent);

            })
        };

        function changePrice(pirceNum) {

            switch (pirceNum) {
                case 1:
                    return '五千元以下'
                case 2:
                    return '五千~一萬元'
                case 3:
                    return '一萬~五萬元'
                case 4:
                    return '五萬~十萬元'
                case 5:
                    return '十萬~三十萬元'
                default:
                    return '查無資料'
            }

        }

        let btnSaveCase = document.querySelector('#btnSaveCase');
        let caseid = @Html.Raw(Json.Encode(Model.CaseId));
        let farHeart = document.querySelector('#farHeart');


        let saved = @Html.Raw(Json.Encode(Model.SavedOrNot));
        if (saved) {
            farHeart.classList.remove("far");
            farHeart.classList.add("fas");
        }
        btnSaveCase.addEventListener('click', function () {
            saved = !saved;

            if (saved ) {
                axios.post('/SaveCase/AddOrDeleSaveCase', { caseid: caseid }).then(res => console.log(res));

                    farHeart.classList.remove("far");
                    farHeart.classList.add("fas");
                    alert('已收藏此案件 ! ')
            }
            if (!saved) {
                axios.post('/SaveCase/AddOrDeleSaveCase', { caseid: caseid }).then(res => console.log(res));

                    farHeart.classList.add("far");
                    farHeart.classList.remove("fas");
                    alert('已取消此收藏 ')
            }
        })
    </script>

    @*社群分享 SDK*@
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0" nonce="jp8gwzjz"></script>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>



}
