
@{
    ViewBag.Title = "Index";
}
@model List<CaseViewModel>
<section class="section-hero overlay inner-page bg-image pt-2" id="home-section">
    <div class="container">
        <div class="row  p-0">
            <div class="col-12">
                <div class="category-area">
                    <h3>找案件</h3>
                    <span>多筆案件等你大展身手！</span>
                    <div class="row  justify-content-around">
                        <div class="col-md-1 col-1 test">
                            <div class="category-btn ">
                                <a class="mb-1"  href="@Url.Action("Index",new { id = "0"} )">
                                    <i class="fas fa-pencil-ruler"></i>
                                    <p class="d-none d-md-block">平面設計</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "1"} )">
                                    <i class="far fa-window-restore"></i>
                                    <p class="d-none d-md-block">網頁設計</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1 test">
                            <div class="category-btn">

                                <a class="mb-1" href="@Url.Action("Index",new { id = "2"} )">
                                    <i class="fas fa-code"></i>
                                    <p class="d-none d-md-block">程式開發</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn ">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "3"} )">
                                    <i class="far fa-file-alt"></i>
                                    <p class="d-none d-md-block">翻譯寫作</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "4"} )">
                                    <i class="fas fa-camera-retro"></i>
                                    <p class="d-none d-md-block">商攝娛樂</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "5"} )">
                                    <i class="fas fa-photo-video"></i>
                                    <p class="d-none d-md-block">影像製作</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn ">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "6"} )">
                                    <i class="fas fa-ruler-combined"></i>
                                    <p class="d-none d-md-block">空間設計</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1 col-1 test">
                            <div class="category-btn ">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "7"} )">
                                    <i class="far fa-heart"></i>
                                    <p class="d-none d-md-block">生活服務</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1 col-1 test">
                            <div class="category-btn ">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "8"} )">
                                    <i class="far fa-newspaper"></i>
                                    <p class="d-none d-md-block">活動企劃</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1  col-1 test">
                            <div class="category-btn ">
                                <a class="mb-1 " href="@Url.Action("Index",new { id = "9"} )">
                                    <i class="fas fa-pencil-ruler"></i>
                                    <p class="d-none d-md-block">專業顧問</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1 col-1  test">
                            <div class="category-btn">
                                <a class="mb-1" href="@Url.Action("Index",new { id = "10"} )">
                                    <i class="fas fa-cogs"></i>
                                    <p class="d-none d-md-block">資訊工程</p>
                                    <p class="cateCount">(373)筆</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="category-list">
                    <select class="w-25 areaOption">

                        @*動態資料*@

                    </select>

                    <select class="w-25 priceOption">

                        @*動態資料*@
                    </select>
                    <button class="watchAll btn   p-1 text-black">× 清除條件</button>



                    <input type="text" class="serchValue" name="name" value="" />
                    <button type="submit"  class=" searchtbtn btn  btn-success text-white p-1 "><i class="icon fas text-white fa-search mr-2">搜尋</i></button>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section ">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <div class="card w-100 ">
                    <h3 class="title"><i class="far fa-thumbs-up"></i>最新案件推薦</h3>
                    <ul class="list-group list-group-flush  newCaseList">
                        <template id="newCase">
                            <li class="list-group-item">
                                <a href="#">
                                    <p></p>
                                </a>
                                <span class="hour-ago"></span>
                            </li>
                        </template>
                    </ul>
                </div>



                <div style="position:relative; height:150px" class="my-3">
                    <img class="w-100 h-100 rounded" src="https://i.ibb.co/Th5hn3k/unnamed.jpg" alt="最近成交" />

                    <div style="position:absolute; z-index:2; left:10px ;top:10px">
                        <p class="font-weight-bold  text-white mb-1">最新成交</p>
                        <p class="font-weight-bold  text-white mb-1">
                            恭喜人才
                            <a href="#" class="font-weight-bold text-warning">SHEAU圖文創意</a>
                        </p>
                        <p class="font-weight-bold text-white mb-1">
                            完成任務
                            <a href="#" class="font-weight-bold text-warning">徵求IG小編</a>
                        </p>
                        <p class="font-weight-bold  text-white">成交日期 2021/08/21</p>

                    </div>




                </div>



                <div class="card w-100">
                    <h3 class="title"><i class="fas fa-chess-queen"></i>最新升級VIP會員</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="avatar ">
                                <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                            </div>
                            <div class=" aaa ">
                                <a href="#">
                                    <p>搬運工(不需交通工具)</p>
                                </a>
                                <span class="hour-ago">12小時前</span>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <div class="avatar ">
                                <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                            </div>
                            <div class=" aaa ">
                                <a href="#">
                                    <p>搬運工(不需交通工具)</p>
                                </a>
                                <span class="hour-ago">12小時前</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="avatar ">
                                <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                            </div>
                            <div class=" aaa ">
                                <a href="#">
                                    <p>搬運工(不需交通工具)</p>
                                </a>
                                <span class="hour-ago">12小時前</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="avatar ">
                                <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                            </div>
                            <div class=" aaa ">
                                <a href="#">
                                    <p>搬運工(不需交通工具)</p>
                                </a>
                                <span class="hour-ago">12小時前</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="avatar ">
                                <img class="w-100" src="https://picsum.photos/300/200/?random=1">
                            </div>
                            <div class=" aaa ">
                                <a href="#">
                                    <p>搬運工(不需交通工具)</p>
                                </a>
                                <span class="hour-ago">12小時前</span>
                            </div>
                        </li>
                    </ul>
                    <div class="btn">
                        <button class="btn-vip">成為VIP</button>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-1">-->
            <!-- 空白 -->
            <!--</div>-->


            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="case-status" aria-label="...">
                            <ul class="pagination pagination-lg">
                                <li class="page-item active" aria-current="page">
                                    <div class="page-link">全部案件(<span class="caseCount"></span>)</div>
                                </li>
                                <li class="page-item">
                                    <div class="page-link">長期案件(<span class="caseCount">5278</span>)</div>
                                </li>
                                <li class="page-item">
                                    <div class="page-link">已結案(<span class="caseCount">10678</span>)</div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-list">
                                    <button class=" sortPrice">價錢排序<i class="ml-1 fas fa-sort"></i></button>
                                    <button>最近刊登</button>
                                    <button>提案人數</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 aaaaaaa">     </div>

                    <template id="caseList">
                        <div class="card case mb-3">
                            <div class="card-body">
                                <a class="h5 card-title-a" href=""><h5 class="card-title"></h5></a>
                                <a href="#" class=" case-price mr-1"> </a>
                                <span class="city"></span>
                                <p class="card-text"></p>

                                <p class="subcate-list">
                                    <span class="subcate"><span>#</span></span>

                                </p>
                                <div class="d-flex justify-content-between">
                                    <p class="update-time"></p>
                                    <a class="btn btn-primary addCart">查看案件</a>
                                </div>
                            </div>
                        </div>
                    </template>

                    <div class="col-md-12">
                        <div class="case-page d-flex justify-content-end ">
                            <nav class="pages" aria-label="Page navigation example">
                                <ul class="pagination" id="paginationlist">


                                    <template id="pagination">
                                        <li class="page-item pagelist"><a class="page-link pageItem" href="#"></a></li>
                                    </template>



                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section topCSS{
    <style>
        .section-hero.inner-page {
            padding-bottom: 20px;
        }

        .section-hero.overlay:before,
        .section-hero.overlay-2:before {
            background: none;
        }

        .category-area .category-btn a {
            display: block;
            text-align: center;
        }


        .category-area .category-btn .fas,
        .category-area .category-btn .far {
            font-size: 25px;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, .4)
        }

        .category-area h3 {
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 20px;
            padding-left: 5px;
            display: inline-block;
            position: relative;
        }

            .category-area h3::before {
                content: '';
                width: 4px;
                height: 16px;
                background-color: #89ba16;
                position: absolute;
                left: -5px;
            }




        .category-area span {
            font-size: 12px;
            font-weight: 800;
            color: rgba(0, 0, 0, .7)
        }

        .category-area .category-btn p {
            margin: 0;
            color: black;
            font-weight: 600;
            text-align: center;
            line-height: 1.3;
            font-size: 14px;
            color: rgba(0, 0, 0, .4)
        }

        .category-btn:hover .fas,
        .category-btn:hover .far,
        .category-btn:hover p {
            color: #89ba16;
            cursor: pointer;
        }



        .category-list select,
        .category-list input {
            height: 100%;
            margin-right: 5px;
        }

        .site-section .card .title {
            font-weight: 800;
            font-size: 16px;
            padding: 14px 10px 8px 10px;
            margin: 0 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            line-height: 1;
        }


        .fa-thumbs-up {
            color: lightskyblue;
            margin-right: 2px;
        }

        .fa-chess-queen {
            color: gold;
            margin-right: 2px;
        }



        .site-section {
            padding-top: 0px;
        }

            .site-section .container {
                border-top: 1px solid rgba(0, 0, 0, .2);
            }


            .site-section .card li {
                border: none;
                position: relative;
            }


            .site-section .card .list-group-item {
                padding: 5px 20px;
                padding-bottom: 10px;
            }

                .site-section .card .list-group-item p {
                    font-weight: 600;
                    color: black;
                    margin: 0;
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                }

                .site-section .card .list-group-item span {
                    font-size: 8px;
                    display: block;
                    line-height: 1;
                }

        .avatar {
            width: 20%;
            display: inline-block;
        }

        .aaa {
            width: 75%;
            display: inline-block;
        }

        .btn-vip {
            background-color: #89ba16;
            border-radius: 4px;
            color: white;
            font-size: 14px;
            font-weight: 800;
            border: none;
        }


        .case-status .pagination {
            margin: 0;
            border-bottom: 2px solid rgba(0, 0, 0, .1);
            border-radius: 0;
        }

        .case-status .pagination-lg .page-link {
            padding: 5px 10px;
            font-size: 14px;
        }



        .btn-list {
            border-bottom: 2px solid rgba(0, 0, 0, .1);
            display: flex;
            justify-content: flex-end;
        }

            .btn-list .active {
                background-color: #89ba16;
                color: white;
            }

            .btn-list button {
                background-color: white;
                border: none;
                padding: 8px 10px;
                font-size: 16px;
                font-weight: 600;
            }

        .case .card-title {
            font-weight: bolder;
            margin-bottom: 0;
        }

        .case .case-price {
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0;
        }

        .case .city {
            font-size: 12px;
        }

        .case .fa-map-marker-alt {
            color: palevioletred;
            font-size: 14px;
        }

        .case .update-time {
            margin: 0;
        }

        .case .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 400;
        }

        .subcate-list {
            border-bottom: 1px rgba(0, 0, 0, .1) solid;
        }

        .subcate {
            color: rgb(87, 87, 250);
            font-size: 10px;
        }

        .case-page {
            margin-top: 25px;
            padding-top: 20px;
            border-top: 2px rgba(0, 0, 0, .1) solid;
        }

        br {
            display: none
        }

        .actives i,
        .actives > a,
        .actives p {
            color: #89ba16 !important;
        }

      

  
        #home-section {
            position: sticky;
            top: 0;
            z-index: 3;
            background-color: white !important;
            opacity: 1;
        }

        .border-btm {
            box-shadow: 0px 0px 4px 1px #89ba16;
        }

        .FindQuotation a {
            color: #89ba16 !important;
            background-color: white
        }
      

    </style>
}
@section endJS
    {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        window.onscroll = function (e) {
            let homesectiontoTop =document.querySelector('#home-section')
            homesectiontoTop.offsetTop > 130 ? homesectiontoTop.classList.add('border-btm') : homesectiontoTop.classList.remove('border-btm')
        }

        let AllCardArray =@Html.Raw(Json.Encode(Model));
        let card = document.querySelector('#caseList');
        let pagesOption = document.querySelector('#pagination');
        let dataArray =[];
        let areaArray =[];
        let priceArray = [];
        let newCase = document.querySelector("#newCase");
        let ViewBag =@ViewBag.CateId;
        if (ViewBag<13) {document.querySelectorAll('.category-btn')[@ViewBag.CateId].classList.add('actives') }






        setCaseCount(AllCardArray);
        document.querySelector('.aaaaaaa').innerHTML = ''
            if (AllCardArray.length == 0 || AllCardArray == null || AllCardArray == undefined) {
                document.querySelector('.aaaaaaa').innerHTML = '<p class="text-danger">查無資料!!!</p>'
                document.querySelector('.priceOption').innerHTML = ' <option value="" disabled selected hidden>-請選擇價格-</option>';
                document.querySelector('.areaOption').innerHTML = '<option value="" disabled selected hidden>-請選擇地區-</option>';
            }
            else {
                console.log(AllCardArray)
                AllCardArray.forEach((x) => { areaArray.push(x.LocationName) })
                AllCardArray.forEach((x) => { priceArray.push(x.Price) })
                addSelectOption()
                setPages(AllCardArray);
                addcase(AllCardArray);
            }



        //渲染最新刊登
        axios.get("/api/Case/GetCase").then(res => {
            let newCaseArray = res.data.Result;
            setNewCase(newCaseArray)
            document.querySelectorAll('.cateCount').forEach((item, index) => {
                let cateCount = newCaseArray.filter(x => x.CategoryID == index).length
                item.innerHTML =`(${cateCount})筆`
            })



        })





        function setNewCase(arr) {
            arr.slice(0, 5).forEach(function (item, index) {
                let cloneContent = newCase.content.cloneNode(true);
                cloneContent.querySelector('p').innerHTML = `<span class=" pt-1 d-inline-block px-1 bg-success text-white">${index + 1}.</span> ${item.title}`
                cloneContent.querySelector('.hour-ago').innerText = StringToDate(item.UpdateDate)
                document.querySelector('.newCaseList').append(cloneContent);

            })

        }

        //清除條件
        document.querySelector('.watchAll').addEventListener("click", function () {
             location.href = `/FindQuotation/Index`;
        })





        //地區選項更換時
        document.querySelector('.areaOption').addEventListener("change", function (e) {
            let FilterCaseArr = [];
            if (document.querySelector('.priceOption').value == "") {
                FilterCaseArr = AllCardArray.filter(x => x.LocationName == e.target.value)
            }
            else {
                FilterCaseArr = AllCardArray.filter(x => x.LocationName == e.target.value && x.Price == document.querySelector('.priceOption').value)
            }
            document.querySelector('.aaaaaaa').innerHTML = ''
            document.querySelector('#paginationlist').innerHTML = ''
            setPages(FilterCaseArr);
            addcase(FilterCaseArr);
            setCaseCount(FilterCaseArr)
        })




         //金錢選項更換時
        document.querySelector('.priceOption').addEventListener("change", function (e) {
            let FilterCaseArr = [];
            if (document.querySelector('.areaOption').value == "") {
                FilterCaseArr = AllCardArray.filter(x => x.Price == e.target.value)
            }
            else {
                FilterCaseArr = AllCardArray.filter(x => x.Price == e.target.value && x.LocationName == document.querySelector('.areaOption').value)
            }
            document.querySelector('.aaaaaaa').innerHTML = ''
            document.querySelector('#paginationlist').innerHTML = ''
            setPages(FilterCaseArr);
            addcase(FilterCaseArr);
            setCaseCount(FilterCaseArr)
        })


        //顯示案件數
        function setCaseCount(arr) {
            let caseCount = arr.length
            document.querySelector('.caseCount').innerText = caseCount

        };

        //按照價錢排序
        let sortHtoL = false;
        document.querySelector('.sortPrice').addEventListener('click', function () {
            sortHtoL = !sortHtoL
            console.log(sortHtoL)
            if (sortHtoL) {
                AllCardArray.sort(function (a, b) { return b.Price - a.Price })
            }
            else { AllCardArray.sort(function (a, b) { return a.Price - b.Price })}
            document.querySelector('.aaaaaaa').innerHTML = ''
            addcase(AllCardArray);
            setPages(AllCardArray);
        })


        //取資料設定每頁案件數量可得頁數
        function setPages(arr) {
            let num = 5; //多少個一頁
            let nowItem = num; //目前一頁的item限制
            let nowPage = 1; //目前
            arr.forEach((x, index) => {
                if (index < nowItem) {
                    x.page = nowPage;
                    if (index == nowItem - 1) {
                        nowItem += num;
                        nowPage += 1;
                    }
                }
            })

            setPagination(arr)
        }


        //設定分頁頁數
        function setPagination(arr) {
            console.log('安安',arr)
            if (arr.length == 0) { return }
            document.querySelector('#paginationlist').innerHTML = "";
            //document.querySelector('#paginationlist').innerHTML +=
            //    `   <li class="page-item-aa">
            //              <a class="page-link Previous" href="#" aria-label="Previous">
            //                  <span aria-hidden="true">&laquo;</span>
            //               </a>
            //       </li>`
            let lastpage = arr[arr.length - 1].page
            for (let i = 1; i <= lastpage; i++) {
                let cloneContent = pagesOption.content.cloneNode(true);
                cloneContent.querySelector('.page-link').innerText = i
                document.querySelector('#paginationlist').append(cloneContent);
            }
            addbuttonEvent();
            //document.querySelector('#paginationlist').innerHTML+=
            //`<li class="page-item-aa">
            //    <a class="page-link Next" href="#" aria-label="Next">
            //        <span aria-hidden="true">&raquo;</span>
            //    </a>
            //</li>`
            document.querySelectorAll('.pagelist')[0].classList.add('active')

        }

        //點擊換頁
        function addbuttonEvent() {

            document.querySelectorAll('.pageItem').forEach(x => x.addEventListener('click', function (e) {
                document.querySelectorAll('.pagelist').forEach(x => x.classList.remove('active'))
                document.querySelector('.aaaaaaa').innerHTML = ''
                addcase(AllCardArray, e.target.innerHTML)
                event.preventDefault();
                topFunction();
                e.target.parentElement.classList.add('active')

            }))


        }


       //點擊回頂部
        function topFunction() {
            document.body.scrollTop = 150;
            document.documentElement.scrollTop = 150;
        }


        //新增價錢選項
        function addSelectOption() {
             document.querySelector('.priceOption').innerHTML = ' <option value="" disabled selected hidden>-請選擇價格-</option>';
             document.querySelector('.areaOption').innerHTML = '<option value="" disabled selected hidden>-請選擇地區-</option>';
            var newPriceArray = [...new Set(priceArray)]
            newPriceArray.forEach(function (item, index) {
                let options = document.createElement('option');
                options.innerHTML = changePrice(item);
                options.value = item;
                document.querySelector('.priceOption').append(options)
            })
            var newareaArray = [...new Set(areaArray)]
            newareaArray.forEach(function (item, index) {
                let options = document.createElement('option');
                options.innerHTML = item;
                options.value = item
                document.querySelector('.areaOption').append(options)
            })
        }




        //渲染案件
        function addcase(arr,pages=1) {
            arr.forEach(function (item, index) {
                if (item.page == pages) {
                    let cloneContent = card.content.cloneNode(true);
                    cloneContent.querySelector('.card-title').innerText = item.title
                    cloneContent.querySelector('.case-price').innerText = changePrice(item.Price);
                    cloneContent.querySelector('.city').innerHTML = ` <i class="fas fa-map-marker-alt mr-1"></i>${item.LocationName}`;
                    cloneContent.querySelector('.card-text').innerText =item.Description;
                    cloneContent.querySelector('.subcate').innerText = item.SubCategoryName;
                    cloneContent.querySelector('.update-time').innerText = StringToDate(item.UpdateDate);
                    cloneContent.querySelector('.addCart').href = `/FindQuotation/Detail?id=${item.CaseId}`
                    cloneContent.querySelector('.card-title-a').href = `/FindQuotation/Detail?id=${item.CaseId}`
                    document.querySelector('.aaaaaaa').append(cloneContent);
                    StringToDate(item.UpdateDate)
                }
            })

        };



        function StringToDate(string) {

            var num = parseInt(string.substring(4).substring(2));

            var CaseUpdate = new Date(num)
            var Today = new Date()

            var diff = Today.getTime() - CaseUpdate.getTime();

            var days = Math.floor(diff / 1000 / 60 / 60 / 24);
            diff -= days * 1000 * 60 * 60 * 24;
            var hours = Math.floor(diff / 1000 / 60 / 60);
            diff -= hours * 1000 * 60 * 60;
            var minutes = Math.floor(diff / 1000 / 60);
            diff -= minutes * 1000 * 60;
            var seconds = Math.floor(diff / 1000);
            if (days > 0) {
                return days + "天前"
            }
            else { return hours + "小時前"}
            //resultTime = days+"天"+hours + "小時前"
            //return resultTime;

        }

        function changePrice(pirceNum) {

            switch (pirceNum) {
                case 1:
                    return '5000元以下'
                case 2:
                    return '5001~10000元'
                case 3:
                    return '10001~50000元'
                case 4:
                    return '50001~100000元'
                case 5:
                    return '100001~300000元'
                default:
                    return '查無資料'
            }

        }

        document.querySelector('.searchtbtn').addEventListener('click', function () {
            let serchValue = document.querySelector('.serchValue')
            location.href = `/FindQuotation/Index?id=@ViewBag.CateId&searchStr=${serchValue.value}`;
        });

    </script>
}