@model IEnumerable<PRO_finder.Models.ViewModels.QuotationCartViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="container">
        <div class="col-12 mt-5 mb-4">
            <h2>提案紀錄</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>案件名稱</th>
                        <th>案件金額</th>
                        <th>提案日期</th>
                        <th>成交提醒</th>
                        <th>取消提案</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center"><a href="/FindQuotation/Detail?id=@item.CaseID">@item.CaseTitle</a></td>
                            <td class="text-center">@item.ProposePrice</td>
                            <td class="text-center">@item.ProposeDate</td>
                            <td class="text-center">@item.Status</td>
                            <td class="text-center"><button class="text-center btnDele btn btn-primary " data-content="@item.CaseID">取消</button></td>
                        </tr>
                    }
                </tbody>
                 
            </table>
        </div>
    </div>
</body>
</html>

@section topCSS{
    <style>
        .btnDele:hover {
            cursor: pointer;
        }
        .qtrecord {
            color: white !important;
            background-color: #89ba16 !important;
            border-radius: 6px;
            font-weight: bolder;
        }
    </style>
}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        let btnDele = document.querySelectorAll('.btnDele');
        

        btnDele.forEach(function (item) {
            let caseid = item.getAttribute("data-content");
            console.log(caseid);
            item.addEventListener('click', function () {
                const asyncRun = async () => {
                    await axios.post('/FindQuotation/DeleQTRecord', { caseid: caseid }).then(res => console.log(res));
                    alert('已刪除此提案 ! 若有需要請重新提出報價 ! ')
                    window.location.reload();
                }
                asyncRun();
            })
        })

        
        
    </script>

}
